[2018-04-10 16:27] eliperelman opened #10 "Create new UX application layout to address concerns of lists, logging, and mobile devices"
Should contain responsive menu system along with near-full-height view content.

[2018-04-10 16:30] eliperelman opened #11 "Initial application theme"
We have decided that the initial theme is going to be a dark theme. We will address a toggleable light theme in #50.

[2018-04-10 16:32] eliperelman opened #12 "Support GitHub and manual authentication schemes"
This will involve making a login mutation to the service, based on either an OIDC flow or manual credentials.

[2018-04-10 16:34] eliperelman opened #13 "Update listClients to return an object instead of an array"
See also:

https://github.com/taskcluster/taskcluster-tools/pull/518
https://github.com/taskcluster/taskcluster-auth/pull/148

[2018-04-10 16:35] eliperelman opened #14 "Authenticated landing page"
This is the view that is rendered when visiting `/` when logged in. We could show a list of recent tasks, some guidance to view their profile, or anything else really.

[2018-04-10 16:36] eliperelman opened #15 "View provisioners"
This is the view synonymous with https://tools.taskcluster.net/provisioners. This is only concerned about the list of provisioners, and not an individual provisioner.

[2018-04-10 16:38] eliperelman opened #16 "Worker types"
This view is synonymous with https://tools.taskcluster.net/provisioners/aws-provisioner-v1/worker-types. It is concerned with rendering a list of worker types for a particular provisioner. It is also concerned with the actions you can take on a list of worker types. It is not concerned with an individual worker type nor its actions.

[2018-04-10 16:40] eliperelman opened #17 "Individual worker type"
This view is synonymous with https://tools.taskcluster.net/provisioners/aws-provisioner-v1/worker-types/gecko-1-images. It is concerned with displaying the metadata for a worker type, and its actions. It is not concerned with individual workers, nor their actions.

[2018-04-10 16:41] eliperelman opened #18 "Individual worker"
This view is synonymous with https://tools.taskcluster.net/provisioners/aws-provisioner-v1/worker-types/gecko-1-images/workers/us-east-1/i-02ca4d161f8d5c3d9. It is concerned with rendering the metadata for a given worker, and its actions. It is not concerned about taking actions on its related tasks.

[2018-04-10 16:44] eliperelman opened #19 "Task actions"
This is synonymous with the task actions you can take at https://tools.taskcluster.net/groups/e4MvyI2FSjqEmLjZ1mUbYw/tasks/S02Aav_PSJOvbQSopKYVyw/details

<img width="409" alt="screen shot 2018-04-10 at 11 42 06 am" src="https://user-images.githubusercontent.com/285899/38570784-4416062e-3cb4-11e8-845e-ea8a729d4595.png">

My initial instinct is to use a speed dial here, although I'm not sure how th

[2018-04-10 16:46] eliperelman opened #20 "Display static logs"
This page is synonymous with https://tools.taskcluster.net/groups/e4MvyI2FSjqEmLjZ1mUbYw/tasks/S02Aav_PSJOvbQSopKYVyw/runs/0/logs/public%2Flogs%2Flive.log. It is only concerned for rendering static logs that are not streaming, and its associated actions, like:

- [x] Go to line
- [x] Link to task
- [ ] Link to raw log

[2018-04-10 16:47] eliperelman opened #21 "Display live logs"
This page is synonymous with https://tools.taskcluster.net/groups/e4MvyI2FSjqEmLjZ1mUbYw/tasks/S02Aav_PSJOvbQSopKYVyw/runs/0/logs/public%2Flogs%2Flive.log, but unlike static logs, it is only concerned for rendering streaming logs. It's associated actions currently include:

- [x] Go to line
- [x] Link to task
- [ ] Link to raw log
- [x] Follow log

[2018-04-10 16:53] eliperelman opened #22 "Task groups"
This page is synonymous with https://tools.taskcluster.net/groups/e4MvyI2FSjqEmLjZ1mUbYw. In order to address UX concerns, this view will no longer be unified with viewing tasks; it is only concerned about the group itself and its actions.

The task group will be paginated, most likely in pages of 100 tasks. We will also do a server-side filter if specified, and we are aware that this will initial

[2018-04-10 16:55] eliperelman opened #23 "Recent tasks"
When visiting the `/tasks` view without a task ID, let's display a list of recent tasks the user has viewed.

[2018-04-10 16:56] eliperelman opened #24 "Create task"
This view is synonymous with https://tools.taskcluster.net/tasks/create. This also needs to take of creating tasks based on a task definition, synonymous with https://tools.taskcluster.net/tasks/JjZoye8zSSadEwUu_FPSkg/create. This does not concern interactive tasks. It may be nice to have a button on the page that can toggle between making the task interactive or not.

[2018-04-10 16:59] eliperelman opened #25 "Create interactive tasks"
This view is synonymous with https://tools.taskcluster.net/tasks/JjZoye8zSSadEwUu_FPSkg/interactive. Basically any task ID following this route will do a look-up for its task definition, use that as the editor content, with overrides for interactive properties.

[2018-04-10 17:08] eliperelman opened #26 "GitHub quick start"
This view is synonymous with https://tools.taskcluster.net/quickstart. All the help content is not going to be there, since that will be taken care of in the view help feature. Really need some UX scrutiny on this page.

[2018-04-10 17:11] eliperelman opened #27 "AWS provisioner list"
This page is synonymous with https://tools.taskcluster.net/aws-provisioner. I'm still not a fan of giving the AWS provisioner a special page over other provisioners, but it is what it is. This view is only concerned with the data and actions of the provisioner itself, and is not concerned with individual worker types, their actions, creating worker types, recent errors or health. Those may be link

[2018-04-10 17:18] eliperelman opened #28 "AWS provisioner worker type"
This view is synonymous with https://tools.taskcluster.net/aws-provisioner/ami-test/. It would be nice if we could display all metadata necessary for rendering this into different cards in a single query. We may be able to put the definition into an expandable list item similar to what we do for tasks, but I'm not sure. Editing the definition should not be handled in this view.

[2018-04-10 17:20] eliperelman opened #29 "Edit AWS provisioner worker type definition"
This view is synonymous with https://tools.taskcluster.net/aws-provisioner/ami-test/edit.

[2018-04-10 17:21] eliperelman opened #30 "Create AWS provisioner worker type"
This view is synonymous with https://tools.taskcluster.net/aws-provisioner/create:worker-type/.

[2018-04-10 17:23] eliperelman opened #31 "AWS provisioner recent errors"
This view is synonymous with https://tools.taskcluster.net/aws-provisioner/recent-errors.

[2018-04-10 17:23] eliperelman opened #32 "AWS provisioner health"
This view is synonymous with https://tools.taskcluster.net/aws-provisioner/aws-health.

[2018-04-10 17:47] eliperelman opened #33 "Clients list"
This view is synonymous with the list of clients at https://tools.taskcluster.net/auth/clients. It is not concerned with creating or editing clients, but may link to those respective pages.

[2018-04-10 17:49] eliperelman opened #34 "Create/edit clients"
This view is somewhat synonymous with https://tools.taskcluster.net/auth/clients/email%2Fbastien%40nextcairn.com%2Ftc-notify-test, but should handle new clients with a blank form. I don't want a toggle between view/edit mode. Let's always keep it in edit/form mode.

[2018-04-10 17:51] eliperelman opened #35 "Roles list"
This view is synonymous with the roles list at https://tools.taskcluster.net/auth/roles. It is not concerned with editing or creating individual roles, but may link to those views.

[2018-04-10 17:53] eliperelman opened #36 "Edit/create role"
This view is synonymous with https://tools.taskcluster.net/auth/roles/hook-id%3Agarbage%2F*. This should display a form with either a blank role or the loaded role. I don't want a toggle between viewing and editing; let's always show the form.

[2018-04-10 17:56] eliperelman opened #37 "Scopes list"
This view is synonymous with the list at https://tools.taskcluster.net/auth/scopes. I'm not sure if the API supports pagination of this endpoint, but worst-case we can paginate it client side. The list displayed here may also be expandable panels instead of a table so we can drill into the clients.

[2018-04-10 17:58] eliperelman opened #38 "View/edit scope role"
This is synonymous with https://tools.taskcluster.net/auth/scopes/assume%3A*/role:mozilla-group%3Ateam_taskcluster. We are only going to show the edit form, no need for the view-only mode.

[2018-04-10 18:04] eliperelman opened #39 "Scope grants list"
This view is synonymous with https://tools.taskcluster.net/auth/grants. I'm thinking a card layout, where each card can have actions to delete the grant.

[2018-04-10 18:05] eliperelman opened #40 "Scopeset expansions"
This thing https://tools.taskcluster.net/auth/scopes/expansions

[2018-04-10 18:07] eliperelman opened #41 "Pulse messages"
This view is synonymous with https://tools.taskcluster.net/pulse-inspector. This should utilize the GraphQL message subscription available on the top-level `Subscription`.

[2018-04-10 18:10] eliperelman opened #42 "Cache purges list"
This view is synonymous with https://tools.taskcluster.net/purge-caches. The view layout should be the list, with a button to start a new cache purge. The cache purge form should not be always visible; instead we could probably use a dialog form when clicking the button.

[2018-04-10 18:13] eliperelman opened #43 "Task Index"
This view is synonymous with https://tools.taskcluster.net/index. I hate the UX on this page, so we need some thought here on how to make it better. Maybe a stepper wizard or something. 🤷‍♂️

[2018-04-10 18:14] eliperelman opened #44 "Hooks list"
This view is synonymous with https://tools.taskcluster.net/hooks. We are only concerned with the list of hooks here, not an individual hook.

[2018-04-10 18:16] eliperelman opened #45 "Create/edit hook"
This view is synonymous with https://tools.taskcluster.net/hooks/garbage/12345. We should show a pre-filled form when loading an existing hook, and blank when creating a new hook. No need for a view-only mode, just the form view.

[2018-04-10 18:17] eliperelman opened #46 "Secrets list"
This view is synonymous with the list at https://tools.taskcluster.net/secrets. It is not concerned with displaying individual secrets, but will link to existing ones, or creating them.

[2018-04-10 18:20] eliperelman opened #47 "Create/edit secret"
This view is synonymous with https://tools.taskcluster.net/secrets/garbage%2Fcag%2Ftestsecret. It should be pre-filled when loading an existing secret, and empty when creating. I know right now we have a view-only mode for showing/hiding the secret value, but we can incorporate this into the form view, which should be the only view.

[2018-04-10 18:22] eliperelman opened #48 "User profile page"
Right now this could be considered synonymous with the page at https://tools.taskcluster.net/credentials. I'd like to make the page specific to the user, so they can manage credentials, clear/view local/remote preferences, etc.

[2018-04-10 18:24] eliperelman opened #49 "Unauthenticated landing page"
This is the view that is rendered when visiting `/` when **not** logged in. The point of this page will be mostly informational in nature, encouraging the visitor to log in.

[2018-04-10 18:25] eliperelman opened #50 "Toggleable light theme"
In addition to the dark theme, we can put a preference in the user's profile (which maybe we could rename to settings, not sure), to toggle between a light and dark theme.

[2018-04-10 18:26] eliperelman opened #51 "Page analytics"
Every view navigation should register an analytics event.

[2018-04-10 18:27] eliperelman opened #52 "Action analytics"
Every interaction, like button clicks, should register an analytics event. We will probably have to encapsulate this our own button components.

[2018-04-10 18:29] eliperelman opened #53 "Sentry integration"
I hate to bake in specific providers, but for Mozilla Taskcluster production we want to capture errors using Sentry.

[2018-04-10 18:30] eliperelman opened #54 "Documentation"
In the currently documentation structure, docs are in a separate repo on a separate domain, and its settings are managed independently from taskcluster-web. Let's bring those into this repository, still rendered with Markdown, at the `/docs` endpoint.

[2018-04-10 18:33] eliperelman opened #56 "App bar view help"
Each page could contain important information for the new user of a particular view, but often doesn't warrant needing to be shown every time. Let's put a help icon in the app bar to show help, perhaps in a dialog or right drawer, showing help for a page.

[2018-04-10 18:35] eliperelman opened #57 "Global search"
The individual search boxes in each view are only meant to search for the parameters necessary to render that view, and are duplicated in every view. Let's create a global search component that goes into the app bar, and can search across many types: tasks, task groups, docs, and more. This can be pattern-based, so a string matching a task ID could show an autocomplete to link to either a task or

[2018-04-10 18:45] eliperelman opened #58 "Pluggable views"
This feature gives third parties the ability to extend the UI with their own views. This would probably be configured at some kind of cluster level, which would install a dependencies and provide metadata about the customization. Initial thoughts we are experimenting with in the MVP:

- Each customization will either be a React component, or a function that returns a React component.
- The customi

[2018-04-10 18:59] eliperelman opened #59 "Generate component style guide using styleguidist middleware for rendering components out of application"

[2018-04-10 19:01] eliperelman commented on #10
Resolved in 8e917e4ef2932f4ef10a0165cb4335aa19f71797.

[2018-04-10 19:01] #10 closed

[2018-04-10 19:03] eliperelman commented on #11
Resolved in a7cc659411351296a42243fa835ae9ae9164c99b.

[2018-04-10 19:03] #11 closed

[2018-04-10 19:05] eliperelman opened #60 "Fetch data using GraphQL from web server instead of taskcluster-client-web"
In order to realize the goal of much more efficient views, standard pagination, filtering, subscriptions, etc., we want to use GraphQL with Apollo over taskcluster-client-web. This will significantly reduce the data burden on the UI.

This task does not entail any server-side work, rather just the Apollo and GraphQL bits for the client to make authenticated and unauthenticated queries, mutations,

[2018-04-10 19:06] eliperelman commented on #60
Resolved in eddc1917c37db6b3e3cc000de061a38108b3abbb.

[2018-04-10 19:06] #60 closed

[2018-04-11 18:03] #20 closed

[2018-04-11 18:03] #21 closed

[2018-04-11 18:15] eliperelman opened #62 "Stage application and styleguide to Netlify from pull requests"
This one is tricky because we have a server as well. Not sure how to go about that yet.

[2018-04-16 22:12] #59 closed

[2018-04-18 14:37] helfi92 opened #64 "Bug 1368681 - Disable all buttons that require scopes when there is no active login"
This should be taken care of after we have login working properly.

[2018-04-18 14:40] helfi92 commented on #64
The button could perhaps provide a tooltip informing the user that clicking this button requires scopes hence login is required.

[2018-05-01 20:49] helfi92 commented on #34
I have something working locally regarding this issue. I will wait on https://github.com/taskcluster/taskcluster-web/pull/65 to be merged before I open a pull-request for this issue.

[2018-05-01 20:49] helfi92 commented on #33
I have something working locally regarding this issue. I will wait on https://github.com/taskcluster/taskcluster-web/pull/65 to be merged before I open a pull-request for this issue.

[2018-05-02 13:28] #15 closed

[2018-05-02 13:28] #16 closed

[2018-05-02 13:28] #17 closed

[2018-05-02 13:28] #18 closed

[2018-05-09 12:02] helfi92 commented on #34
Done with https://github.com/taskcluster/taskcluster-web/commit/fb5d3bd006def8b0c3f133de9e2c5864a5931812.

[2018-05-09 12:02] helfi92 commented on #33
Done with https://github.com/taskcluster/taskcluster-web/commit/fb5d3bd006def8b0c3f133de9e2c5864a5931812.

[2018-05-10 13:46] helfi92 opened #67 "Pagination enhancement"
If a user clicks "next page" on a paginated table and the response is empty, then continue to fetch. Stop the fetch when we either have a non-empty list returned or an empty continuation token value in the response.

[2018-05-15 19:58] #36 closed

[2018-05-15 19:58] #34 closed

[2018-05-15 19:59] #13 closed

[2018-05-16 14:18] #37 closed

[2018-05-16 14:18] #38 closed

[2018-05-30 16:33] #44 closed

[2018-05-30 16:33] #45 closed

[2018-06-07 15:15] #32 closed

[2018-06-15 17:49] #39 closed

[2018-06-19 14:06] #27 closed

[2018-06-20 14:43] #46 closed

[2018-06-21 21:09] helfi92 commented on #42
@eliperelman To stay consistent with the other views, I think the form should be in a new page `/purge-caches/create` instead of a dialog. Let me know if you don't agree.

[2018-06-22 12:53] eliperelman commented on #42
I agree.

[2018-06-22 14:17] helfi92 opened #78 "Create Purge Cache Request"
This view is synonymous with the right panel of https://tools.taskcluster.net/purge-caches. The form should be in a new page `/purge-caches/create`.

[2018-06-25 14:30] helfi92 commented on #41
We currently have a GSOC student working on rewriting taskcluster-events to use server-sent events for pulse communication instead of websockets. We'll probably need to modify the tc-web-server to reflect the new change once it lands.

[2018-06-25 14:59] eliperelman commented on #41
No, we use subscriptions directly to pulse and do not use events on the server.

[2018-06-25 18:43] #78 closed

[2018-06-27 15:03] #42 closed

[2018-06-29 13:23] helfi92 commented on #26
Resolved in https://github.com/taskcluster/taskcluster-web/commit/5698c9f369e29eb70cec9a006d6563de47b59dde.

[2018-06-29 13:23] #26 closed

[2018-07-09 17:20] #40 closed

[2018-07-13 14:18] #30 closed

[2018-07-23 21:40] helfi92 commented on #31
https://bugzilla.mozilla.org/show_bug.cgi?id=1476069 is a blocker. The endpoint for the recent errors returns 503.

[2018-08-06 14:36] #50 closed

[2018-08-07 19:44] helfi92 opened #87 "Fix search bar in `/tasks`"
Once a task is selected in `/tasks`, the search bar becomes no longer usable. This needs to be fixed.

[2018-08-09 17:48] helfi92 opened #90 "Remove ramda's memoize function and use fast-memoize instead"
The numbers shown in https://github.com/caiogondim/fast-memoize.js for fast-memoize are far more performant than ramda's memoize function.

[2018-08-15 21:13] #12 closed

[2018-08-15 21:13] #14 closed

[2018-08-15 21:17] helfi92 opened #94 "Make pulse messages work"
For context: https://github.com/taskcluster/taskcluster-web-server/pull/14#issuecomment-411568092

[2018-08-16 16:05] #23 closed

[2018-08-16 16:05] #87 closed

[2018-08-16 22:23] helfi92 opened #98 "Sign in menu"
Clicking on the sign menu then clicking away doesn't close the menu unless a selection is picked. We should fix that.

[2018-08-17 14:46] #24 closed

[2018-08-17 14:46] #25 closed

[2018-08-17 18:50] helfi92 commented on #41
Resolved in https://github.com/taskcluster/taskcluster-web/commit/57314ffb5afd8ebbc1de264a726a379cb781a495. The actual listening for pulse messages is still not implemented though. Simply the UI part is done.

Blocker: https://github.com/taskcluster/taskcluster-web/issues/94

[2018-08-17 18:50] #41 closed

[2018-08-27 13:09] djmitche commented on #94
https://bugzilla.mozilla.org/show_bug.cgi?id=1484739

[2018-08-28 22:00] helfi92 opened #103 "Recent tasks in `/tasks` not always showing"
When a user navigates to `/tasks` a list of recent tasks is displayed. The list contains some metadata like the status of the task. When one of the recent tasks no longer exists, the GraphQL response does not return any data. This is because internally `loaders.task.loadMany` is a wrapper over `Promise.all` which errors out once one of the promises is rejected. Let's find a solution to this.

[2018-08-29 16:29] helfi92 commented on #49
![screen shot 2018-08-29 at 12 28 50 pm](https://user-images.githubusercontent.com/3766511/44801464-2422df80-ab87-11e8-83d1-abf3298f7568.png)

[2018-08-29 16:29] #49 closed

[2018-08-29 19:11] #47 closed

[2018-08-29 19:33] helfi92 opened #107 "ErrorPanel overflowing on smaller screens"
![screen shot 2018-08-29 at 3 32 36 pm](https://user-images.githubusercontent.com/3766511/44810769-c8fde680-aba0-11e8-8e60-6415701b2ff2.png)

[2018-08-29 19:33] #64 closed

[2018-08-29 21:02] eliperelman commented on #107
https://github.com/mozilla-frontend-infra/components/issues/12

[2018-08-30 18:01] #29 closed

[2018-09-02 20:14] sonakshisaxena1 commented on #98
@helfi92 I would like to try this.

[2018-09-02 20:30] helfi92 commented on #98
Awesome! Go for it.`taskcluster-web` uses components from https://material-ui-next.com/ for its UI components. Let me know if you have any questions.

[2018-09-02 20:54] sonakshisaxena1 commented on #98
I am facing issues in setting up the environment.
In the following -
[code]
The only thing that needs to be replaced is - `"token id_token"` right?

[2018-09-02 20:59] helfi92 commented on #98
Try adding `LOGIN_STRATEGIES="github"`.

[2018-09-02 21:05] sonakshisaxena1 commented on #98
Okay. That worked!
But how should get past the sign in process?

[2018-09-02 21:08] helfi92 commented on #98
Click "Sign In", then "Sign in with credentials". Type anything for the client ID and access token and then click on "Sign In".

[2018-09-02 21:10] sonakshisaxena1 commented on #98
Got through that. Just one last thing, the main website is: https://tools.taskcluster.net/ right?
Cause it looks different locally.

[2018-09-02 21:12] helfi92 commented on #98
Not quite. This site is not deployed yet. Once most issues are resolved, it will be a replacement for  https://tools.taskcluster.net. We are almost there.

[2018-09-02 21:12] helfi92 commented on #98
It is a rewrite of taskcluster-tools.

[2018-09-02 21:13] sonakshisaxena1 commented on #98
Oh, gotcha. Thanks!

[2018-09-02 21:13] helfi92 commented on #98
No worries :)

[2018-09-03 19:15] sonakshisaxena1 commented on #98
@helfi92 I am stuck in this. I tried passing a function, suppose, `handleClose` (where I passed false through `open` prop as well as tried changing a state by setting one manually) in `onClose` but instead of solving, the dialog stops getting closed on pressing the "Esc" key too.

Further, we are using **Simple Dialog** and as per https://material-ui.com/demos/dialogs/ , it should automatically cl

[2018-09-03 20:06] helfi92 commented on #98
[code]

When the user clicks away or presses the `ESC` key, it is trying to call the `onClose` handle but the function we are telling it to trigger `handleClose` does not exist. I think the solution is to rename `handleClose` to `handleMenuClose`. Let me know if that works.

[2018-09-04 07:41] sonakshisaxena1 commented on #98
Yes, it does.
I'll make a commit regarding this. Thankyou :)

[2018-09-04 13:11] helfi92 commented on #98
Fixed in https://github.com/taskcluster/taskcluster-web/commit/a157cde338a605fa07dff114383e116abdc50687.

[2018-09-04 13:11] #98 closed

[2018-09-04 13:59] helfi92 opened #111 "Recent Task Groups"
When visiting the `/tasks/groups` view without a task group ID, let's display a list of recent task groups the user has viewed.

[2018-09-06 19:55] #22 closed

[2018-09-06 20:10] helfi92 commented on #19
These actions should be split between the group and task view.

[2018-09-11 20:48] #31 closed

[2018-09-13 21:36] #94 closed

[2018-09-15 15:06] #48 closed

[2018-09-17 23:54] helfi92 commented on #111
Completed in https://github.com/taskcluster/taskcluster-web/commit/c481eb26460dc4b0e5dec3b40367571eec6dd7bd.

[2018-09-17 23:54] #111 closed

[2018-09-17 23:54] #107 closed

[2018-09-17 23:55] helfi92 opened #118 "Add ability to close all error panels"
Let's give the user the ability to close all error panels in the site.

<img width="1108" alt="screen shot 2018-09-17 at 7 57 05 pm" src="https://user-images.githubusercontent.com/3766511/45656506-e80eda80-bab3-11e8-821e-39313eeacce7.png">

[2018-09-18 13:05] #28 closed

[2018-09-18 13:38] helfi92 opened #121 "Add a visual indicator when an EC2 instance is terminated"
When terminating an instance in the EC2 resources tab, we need to somehow let the user know that a request has been sent since the removal takes a bit of time. Using a material UI [snackbar component](https://material-ui.com/demos/snackbars/) is probably a good solution to inform the user.

[2018-09-18 16:54] helfi92 opened #122 "Add a Cache Purges entry to the navigation drawer"
The navigation drawer doesn't seem to have an entry to Cache Purges. Let's add it.

![screen shot 2018-09-18 at 12 52 16 pm](https://user-images.githubusercontent.com/3766511/45703274-d6741400-bb41-11e8-87dc-8d9d2157eac1.png)

[2018-09-19 20:10] helfi92 opened #124 "Logging in/out should refetch queries"
When a user login/logout we should refetch the page queries to show good results like signed URLs when exploring private artifacts.

[2018-09-19 20:14] #43 closed

[2018-09-20 15:45] helfi92 opened #125 "ErrorPanel font size inconsistencies"
The error message has larger text than the dialog body:

![screen shot 2018-09-20 at 11 41 31 am](https://user-images.githubusercontent.com/3766511/45830018-30074a80-bcca-11e8-9cf5-38b9c712bc11.png)

Let's make the error panel have a smaller font:

![screen shot 2018-09-20 at 11 43 14 am](https://user-images.githubusercontent.com/3766511/45830141-7c528a80-bcca-11e8-8fe8-dfe44a6782bc.png)

[2018-09-20 19:17] helfi92 opened #126 "Clicking on Interactive should parameterize the task"
![screen shot 2018-09-20 at 3 16 27 pm](https://user-images.githubusercontent.com/3766511/45841558-2db3e900-bce8-11e8-9d55-9f7a26419709.png).

[2018-09-20 20:25] helfi92 opened #127 "Links in ErrorPanels are hard to read"
We should make links more readable.

![screen shot 2018-09-20 at 4 24 43 pm](https://user-images.githubusercontent.com/3766511/45844955-c56a0500-bcf1-11e8-933a-75b5b2d7de5c.png)

To reproduce the issue, go to any view and include the following in the render method:

[code]

This should display something like:

![screen shot 2018-09-26 at 10 52 42 am](https://user-images.githubusercontent.com/37665

[2018-09-21 19:37] helfi92 opened #128 "Disable "Terminate All" button when no EC2 resources available"
![screen shot 2018-09-21 at 3 35 27 pm](https://user-images.githubusercontent.com/3766511/45902300-12aeab00-bdb4-11e8-863b-33bffb055b8f.png)

Steps to reproduce:
* Navigate to http://localhost:5080/aws-provisioner
* Click on a worker type with columns filled with zero's
* Click on the EC2 Resources tab

[2018-09-21 20:08] #19 closed

[2018-09-22 16:30] HrushikeshBodas commented on #125
/claim

[2018-09-22 16:31] HrushikeshBodas commented on #125
I would like to take up this issue

[2018-09-22 16:34] helfi92 commented on #125
Go for it :)

[2018-09-22 16:35] HrushikeshBodas commented on #125
Is there some Assignment method?

[2018-09-22 16:37] helfi92 commented on #125
No need for an assignment. Just open a pull-request when you're done. I'm here to help in case you have any questions.

[2018-09-22 16:59] HrushikeshBodas commented on #125
I looked at the taskcluster-web Style Guide (https://taskcluster-web-styleguide.netlify.com/#errorpanel) and the "./src/components/ErrorPanel/" is missing in the repository

[2018-09-22 17:01] helfi92 commented on #125
The `ErrorPanel` component comes from http://github.com/mozilla-frontend-infra/components so you won't find it in the style guide.

[2018-09-22 17:05] helfi92 commented on #125
https://github.com/mozilla-frontend-infra/components/blob/master/src/components/ErrorPanel/ErrorBox.jsx#L12 is most probably the problem.

[2018-09-22 17:06] helfi92 commented on #125
We don't want to hardcode a font size.

[2018-09-22 17:08] helfi92 commented on #125
The solution might be simply to remove this value :)

[2018-09-22 17:09] helfi92 commented on #125
Feel free to send a pull-request to https://github.com/mozilla-frontend-infra/components.

[2018-09-22 17:49] helfi92 commented on #125
https://github.com/mozilla-frontend-infra/components/pull/17

[2018-09-23 13:38] ariellegordon commented on #128
/claim

[2018-09-23 13:39] ariellegordon commented on #128
This is my first bug for Mozilla! If possible, would love assistance on this issue. Thank you.

[2018-09-23 18:31] preeti98 commented on #127
/claim

[2018-09-23 18:32] preeti98 commented on #127
This is my first contribution to taskcluster .So, can someone please explain the workflow to me? Thanks in advance!

[2018-09-23 22:14] korina0430 commented on #90
Hi! I'd like to start working on this. What files need this function replaced?

[2018-09-24 01:34] helfi92 commented on #128
Hi arielle! The first step is to have your local development setup by going over the [README](https://github.com/taskcluster/taskcluster-web/blob/master/README.md). Once that's done, you'll want add some logic that would disable the button when the list of ec2 resources is empty. Here's the button: https://github.com/taskcluster/taskcluster-web/blob/f64569c7ecb052d438f5ae67a029ac771aa5486b/src/vie

[2018-09-24 01:37] helfi92 commented on #127
Hi @preeti98. The first step is to have your local development setup by going over the [README](https://github.com/taskcluster/taskcluster-web/blob/master/README.md). I believe https://github.com/taskcluster/taskcluster-web/blob/master/src/App/Main.jsx#L31-L33 is where we color links. You'll probably want to change that value to something else. Hope that helps :)

[2018-09-24 01:44] helfi92 commented on #90
Hi @korina0430, this is awesome :) Any [place where we use](https://github.com/taskcluster/taskcluster-web/search?q=memoizeWith&unscoped_q=memoizeWith) `memoizeWith` will need to be changed to the `memoize` function from the `fast-memoize` library. Here's an [example](https://github.com/taskcluster/taskcluster-web/blob/f64569c7ecb052d438f5ae67a029ac771aa5486b/src/components/AwsProvisionerErrorsTab

[2018-09-24 17:51] mike44441 commented on #122
Hello! This is my first time working on something like this and would like to contribute.

[2018-09-24 17:53] helfi92 commented on #122
Welcome @mike44441 :) The first step is to have your local setup running by going over the [README](https://github.com/taskcluster/taskcluster-web/blob/master/README.md). Once that's done, you'll be able to add a Cache Purges entry in the navigation drawer. Let me know if you get stuck somewhere.

[2018-09-24 19:08] helfi92 opened #129 "Interactive Connect"
The interactive connect involves a couple of views:
* The interactive connect view `/tasks/${taskId}/connect`
* The shell display `/shell?...`
* The vnc display `/display?...`

[2018-09-25 18:45] helfi92 commented on #128
Please let me know if I can help in any way :)

[2018-09-25 20:48] korina0430 commented on #90
Hi @helfi92
Sorry for the delayed response! Next week I will have more time to work on/ finish this bug. For starters, I'm confused as to where we import the new fast-memoize library in the cases of when memoize() is called in non-js files. For example mozilla-source\mozilla-central\python\mozbuild\mozbuild\action\check_binary.py contains the memoize() function but it looks explicitly defined in a

[2018-09-26 00:07] mike44441 commented on #122
Alright I have a question about picking the icon at the moment. Based on the other elements in the list, is there a specific one you would like or should I just place something as a filler for the time being in both the import and the list element?

[2018-09-26 00:32] helfi92 commented on #122
Feel free to pick any icon for now. We can change it later once you send a pull-request :)

[2018-09-26 06:54] aimenbatool commented on #127
Hi @helfi92, I have managed to setup taskcluster-web & taskcluster-web-server on the local machine. The server is working fine.
But taskcluster-web is giving me error `Cannot read property 'includes' of undefined` in the browser. Can you please guide me further?

Also, how would I get this error? So that I can see this and play with colors? What mess would I have to make?
![taskcluster](https://us

[2018-09-26 07:27] aimenbatool commented on #127
I'm facing this **warning** also
`WARNING in EnvironmentPlugin - TASKCLUSTER_ROOT_URL environment variable is undefined.

You can pass an object with default values to suppress this warning.
See https://webpack.js.org/plugins/environment-plugin for example.
`

However, I have setup TASLCLUSTER_ROOT_URL using [this](https://github.com/taskcluster/taskcluster-web-server#running-taskcluster-web-serve

[2018-09-26 08:04] hemakshis commented on #127
Hi @preeti98,

In order to remove this error, you will have to create a `.env` file in the root folder of the repo. Add these parameters https://github.com/taskcluster/taskcluster-web#auth0-config in it.
Also, this might be of some help -> https://github.com/taskcluster/taskcluster-web/issues/98#issuecomment-417959104

[2018-09-26 10:35] aimenbatool commented on #125
@helfi92 What about this issue? Is this solved? Links and PRs look confusing.

[2018-09-26 10:45] aimenbatool commented on #128
I logged in using dummy credentials. And I am getting this error. How can I fix this error now? Are there any working credentials?
What am I suppose to do here?
![aws provisioner ami test taskcluster](https://user-images.githubusercontent.com/13648547/46075194-26d31d80-c1a3-11e8-89b5-1879f489e6e0.png)

[2018-09-26 11:50] helfi92 commented on #125
I agree, the links are confusing. There is a pull-request for this issue in https://github.com/mozilla-frontend-infra/components/pull/19, so I would consider this issue taken.

[2018-09-26 11:58] helfi92 commented on #128
1. Click Logout
2. Get Taskcluster credentials by doing https://github.com/taskcluster/taskcluster-web-server#taskcluster-credentials. Once you do that in your terminal, you will see something like

[code]

3. Head over to localhost:5080 and login via manual credentials (not github)
4. Paste your Client ID and Access Token. In my case it will be `mozilla-auth0/ad|Mozilla-LDAP|haali/cli` and `...`.

[2018-09-26 12:33] aimenbatool commented on #128
I installed taskclustercli from [here](https://github.com/taskcluster/taskcluster-cli#installation). But it is creating some **.par** files upon executing the executable file.
What should I do?

[2018-09-26 12:50] helfi92 commented on #128
@aimenbatool This bug is assigned to @ariellegordon. Let me know if you can't find another bug in the repo, I will find you one :)

[2018-09-26 13:01] aimenbatool commented on #128
Okay, No problem.
Can you please update me on issue #127 ?
How to reproduce this error?

[2018-09-26 13:10] helfi92 commented on #127
For the `TASKCLUSTER_ROOT_URL environment variable is undefined` warning, you can remove this warning by modifying `user-config.yml` in taskcluster-web-server to include the rootUrl:

[code]

For the LOGIN_STRATEGIES warning, you can remove it by adding `LOGIN_STRATEGIES=""` in your `.env` file of taskcluster-web.

[2018-09-26 14:37] aimenbatool commented on #127
Thanks for the help @helfi92.
How to reproduce this error to apply the fix?

I appreciate your time.

[2018-09-26 14:42] #129 closed

[2018-09-26 14:54] helfi92 commented on #127
@aimenbatool I updated the [first comment](https://github.com/taskcluster/taskcluster-web/issues/127#issue-362351788) to help reproduce. Let me know if there's something else I can do to help :)

[2018-09-26 14:58] preeti98 commented on #127
@helfi92 I tried to remove the LOGIN_STRATEGIES from the .env file, however, while running the application, I get the same error.

[2018-09-26 15:02] helfi92 commented on #127
@preeti98 Why are you removing `LOGIN_STRATEGIES`? It should be in `.env`.

[2018-09-26 15:13] aimenbatool commented on #127
@helfi92 one more thing, Please.

I followed the proecess to signin menioned in [this comment](https://github.com/taskcluster/taskcluster-web/issues/128#issuecomment-424688755).
Upon executing `$ eval $(./taskcluster signin --name taskcluster-web-server)` it doesn't show me anything in terminal but redirects me to the browser.
See screen shot below.
![taskcluster 1](https://user-images.githubuserc

[2018-09-26 15:15] preeti98 commented on #127
Sorry, @helfi92 it was a mistake on my part.
I have successfully run taskcluster, however could you please tell me how to go to any view as mentioned in the first comment?

Here is what I see:
![upload](https://user-images.githubusercontent.com/39257049/46089878-19328d80-c1cd-11e8-988d-99377bd98f46.png)

[2018-09-26 15:30] aimenbatool commented on #127
Thanks for help @helfi92

[2018-09-26 15:41] preeti98 commented on #127
In many views, I see the following line already present:
[code]
So, do I still use the following?
[code]
Also I am considering changing
[code]
to
[code]

[2018-09-26 15:54] helfi92 commented on #127
Sorry, you are correct. It should be`import ErrorPanel from '@mozilla-frontend-infra/components/ErrorPanel';`

You can just add it on top of the already existent one. What you're doing here is simply so you can reproduce the ugly link in an error panel. Once the color is fixed, you will delete the added ErrorPanel.

[2018-09-26 15:55] korina0430 commented on #90
One more question- when I use searchFox to find memoizeWith it comes back with no results.

[2018-09-26 16:10] preeti98 commented on #127
I have modified the file: https://github.com/taskcluster/taskcluster-web/blob/master/src/views/AwsProvisioner/ViewAwsHealth/index.jsx

by adding another import statement in the beginning and by changing line no. 23 as I mentioned earlier. However I am getting the following output. Please help:
![upload1](https://user-images.githubusercontent.com/39257049/46093353-c52ba700-c1d4-11e8-8cb6-1d57f8fb9e

[2018-09-26 17:42] aimenbatool commented on #127
@helfi92 making the change at [this](https://github.com/taskcluster/taskcluster-web/blob/master/src/App/Main.jsx#L31-L33) doesn't make any difference at all.

Here is what I did just to make it working:

- Added an other constant named SECONDARY_LIGHT in [constants.js](https://github.com/taskcluster/taskcluster-web/blob/master/src/utils/constants.js#L43)

- Set [this](https://github.com/taskcluste

[2018-09-26 17:44] helfi92 commented on #90
Have you tried searching the taskcluster-web repo? https://github.com/taskcluster/taskcluster-web/search?q=memoizeWith&unscoped_q=memoizeWith

[2018-09-26 17:45] helfi92 commented on #90
Sounds good, I'm here to help if you have questions.

[2018-09-26 18:32] ariellegordon commented on #128
Hi guys - just configuring my environment and installing yarn. I will let you know if I need any help with the bug. Hoping to get it fixed by this weekend. Thank you @helfi92 !

[2018-09-26 18:36] korina0430 commented on #90
I just clicked the link you posted and I see the function memoizeWith now. Can you clarify the difference between this repo and the mozilla-source. How come I can't find the taskcluster-web-repo inside mozilla-source?  I'm very new to open source!

Just to clarify:
In order to make changes to this repo, do I still use mercurial to create a patch file and then upload that patch file here?

[2018-09-26 19:12] helfi92 commented on #90
taskcluster-web is not part of the firefox source code. It's a website that lives outside of firefox. To answer your question, we don't use mercurial to creates patches for taskcluster-web. We use git.

[2018-09-27 16:14] #90 closed

[2018-09-27 16:17] helfi92 commented on #127
@preeti98 Try testing it in `localhost:5080/provisioners`.

[2018-09-27 19:00] aimenbatool commented on #127
Hi @helfi92, I think I have found the solution. Please, see my process and verify if this is the right way to do?

No style is being applied to ErrorPanel while making changes at [this line](https://github.com/taskcluster/taskcluster-web/blob/master/src/App/Main.jsx#L31-L33)

After a lot of digging to our code and the codebase of our third-party component `ErrorLayout`, I came to the conclusion th

[2018-09-27 19:32] aimenbatool commented on #127
Sounds good. I'm going to start working on this pull request now.

[2018-09-27 20:07] mike44441 commented on #121
I would be interested in implementing this feature. If you have any advise, it would be very much appreciated!

[2018-10-01 15:03] helfi92 commented on #122
Completed in https://github.com/taskcluster/taskcluster-web/commit/0be756e920df625c36c14a81c07f151a9740d712.

[2018-10-01 15:03] #122 closed

[2018-10-01 15:19] helfi92 commented on #121
Definitely! I think the [snackbar component](https://material-ui.com/demos/snackbars/) is the way to go. Try importing it and see if you can render the snackbar with a message at the bottom of the screen. Once that's done, you can simply make sure that function is called when the user terminates one or all of the EC2 resources. Let me know if you have any questions :)

[2018-10-02 18:31] helfi92 commented on #127
https://github.com/mozilla-frontend-infra/components/pull/24#issuecomment-426376909

@aimenbatool Do you want to update the repo to use the updated version?

[2018-10-02 19:23] helfi92 opened #139 "Enhance the reset access token experience"
It would be great to add a way to quickly copy the access token. This would probably mean moving away from the ErrorPanel component and using something else.

![screen shot 2018-10-02 at 3 12 52 pm](https://user-images.githubusercontent.com/3766511/46371635-e0743780-c656-11e8-8f65-fd94d3c87834.png)

[2018-10-02 20:11] mike44441 commented on #121
If you have any feedback on this, let me know!

[2018-10-02 20:43] helfi92 commented on #121
A screenshot would be helpful :)

[2018-10-03 08:51] SimonSapin opened #141 "More precision in time duration"
In some places of the web UI, time durations are displayed in a human-readable way. For example https://tools.taskcluster.net/groups/PSGMYtDUSji_qGHQ_mLt9Q/tasks/fNN7HLfYRJy1FIh3lS90zQ/runs/0 right now shows “Resolved | 31 minutes ago (an hour later)”

This is nice, much easier than mentally substracting 2018-10-03T07:29:54.370Z from 2018-10-03T08:15:37.386Z. However it’s also really inaccurate! T

[2018-10-03 09:13] aimenbatool commented on #127
@helfi92 Yes sure.
Opening a PR right now.

[2018-10-03 12:10] helfi92 commented on #141
`moment.js` is used in [taskcluster-tools](https://github.com/taskcluster/taskcluster-tools) to determine dates. This is the breakdown of what will be displayed:

![screen shot 2018-10-03 at 7 49 59 am](https://user-images.githubusercontent.com/3766511/46408778-43aaac00-c6e1-11e8-87d7-52b540b7ddbf.png)

In taskcluster-web (not yet published), we use `date-fns` but they seem to use a similar breakd

[2018-10-03 12:21] #127 closed

[2018-10-03 15:57] SimonSapin commented on #141
Thanks!

[2018-10-04 03:02] fiennyangeln commented on #141
@helfi92 How about using this method? https://date-fns.org/v1.29.0/docs/distanceInWordsStrict

[2018-10-04 13:02] helfi92 commented on #141
ooooo nice find! I'll integrate that. Thank you @fiennyangeln.

[2018-10-04 18:14] mike44441 commented on #121
Hello, sorry about the late response. But when I was trying to test and lost my authentication, I am a little confused about this part in trying to get it to work again. I know that I have to get taskcluster-cli. I was wondering if there was some other login credentials, by default that are usable to be able to see the EC2 resources.

[2018-10-04 19:10] helfi92 commented on #121
All you need is taskcluster-CLI and the required scopes. Once you are logged in, there will be an error panel saying which scopes (permissions) are needed. You can show me a screenshot of the error and I will make sure you have those permissions :)

[2018-10-04 19:31] mike44441 commented on #121
Alright, the error I am getting when trying to see the error is
![screen shot 2018-10-04 at 12 31 05 pm](https://user-images.githubusercontent.com/23268239/46498159-7a5fef80-c7d1-11e8-8c2d-0185ab0be540.png)

[2018-10-04 19:47] helfi92 commented on #121
Bad mac most probably means you are not properly authenticated. I see that you are logged in via Github. You should use Taskcluster CLI to log in. Next step would be to logout and login with manual credentials where you will get the client ID and access token from the Taskcluster CLI.

[2018-10-04 20:06] mike44441 commented on #121
Would this be from the part in the web-server section involving using the taskcluster-cli to create a user and key? Because I am still unable to use the taskcluster in the command prompt after following the instruction and not having errors on the make.

[2018-10-04 20:06] mike44441 commented on #121
<img width="697" alt="screen shot 2018-10-04 at 1 06 36 pm" src="https://user-images.githubusercontent.com/23268239/46499932-5b179100-c7d6-11e8-93b0-1681ef5f79a7.png">

[2018-10-04 20:13] helfi92 commented on #121
If you're developing for taskcluster-cli then you'll need to use `go`. However, you'll only the program (not building for it). You'll have to download the binary from https://github.com/taskcluster/taskcluster-cli#installation and run it.

[2018-10-04 20:54] mike44441 commented on #121
Alright, I have been trying to do that on my Mac, but for some reason it won't run allow me to run the binaries. That's why I was trying through the go method before.

[2018-10-04 21:03] mike44441 commented on #121
Yes I did, which makes this more confusing, and I am recommended to use a unarchiver on it still after doing that.

[2018-10-04 21:47] helfi92 commented on #121
What happens when you try to run the file via the terminal?

[code]

[2018-10-04 22:04] mike44441 commented on #121
This solution worked! But the problem now is, I assumed that this would create the path, and this does not seem to be the case, is there a path that I need to export for this as well that wasn't stated in the installation?

[2018-10-05 11:54] helfi92 commented on #121
I'm not sure I understand what you mean here. Could you elaborate, please?

You need to do `./<binary-name> signin`. This would open a browser to log you in. Once logged in, the terminal will output your credentials.

[2018-10-05 13:02] helfi92 commented on #141
Taskcluster web now shows more accurate time durations:

_Example: Resolved 57 minutes ago_

![screen shot 2018-10-05 at 9 00 52 am](https://user-images.githubusercontent.com/3766511/46536697-45a97200-c87d-11e8-927b-21e43bd2ac9b.png)

[2018-10-05 13:02] #141 closed

[2018-10-05 13:03] helfi92 commented on #128
Hi @ariellegordon. Do you still plan on tackling this issue?

[2018-10-05 13:06] helfi92 commented on #103
Since we don't return the state of the task anymore, this is no longer an issue.

[2018-10-05 13:06] #103 closed

[2018-10-05 16:36] mike44441 commented on #121
Awesome that did the job, but when looking at the login id, which sections belong to the Client_id and access token?

[2018-10-05 16:59] helfi92 commented on #121
What do you see in the terminal after you login?

`TASKCLUSTER_CLIENT_ID` belongs to the client id.
`TASKCLUSTER_ACCESS_TOKEN` belongs to the access token.

[2018-10-05 17:14] ariellegordon commented on #128
Hi @helfi92. Thanks for checking in. So sorry about the delay, and thanks for your patience. It took me a while to set up the environment for the very first time, but I now have it running and will make a PR soon. Thanks.

[2018-10-05 17:20] helfi92 commented on #128
Glad to hear. Thank you for the update :)

[2018-10-05 17:29] mike44441 commented on #121
Credentials output as environment variables
mozilla-auth0/github|23268239|mike44441/taskcluster-web-server

[2018-10-05 17:33] helfi92 commented on #121
Right. Now you can open http://localhost:5080/aws-provisioner/gecko-t-linux-xlarge and click on "Sign In" from the left panel and click on "Sign In with credentials". Paste your client ID and access token there.

[2018-10-05 17:37] mike44441 commented on #121
SO my question is in the long line is the first section up to the first bar ( | ) The id and the token is the numerical values. If this is the case, I have tried this already and when I input it I get
![screen shot 2018-10-05 at 10 37 10 am](https://user-images.githubusercontent.com/23268239/46550693-a3908680-c88a-11e8-8b40-c5a2595e7665.png)

[2018-10-05 17:40] helfi92 commented on #121
The client ID you seem to be logged in as is set to `mozilla-auth0/github`. Correct me if I'm wrong but your terminal output had `mozilla-auth0/github|23268239|mike44441/taskcluster-web-server` as the client ID. Is there a reason for the difference? It should be:

![screen shot 2018-10-05 at 1 39 41 pm](https://user-images.githubusercontent.com/3766511/46550833-2a059200-c8a4-11e8-82b7-210ae54db696

[2018-10-05 17:41] mike44441 commented on #121
I was not given or could not find the access token.

[2018-10-05 17:48] helfi92 commented on #121
Do you see something different?

[code]

Could you show me a screenshot, please?

[2018-10-05 17:50] mike44441 commented on #121
<img width="697" alt="screen shot 2018-10-05 at 10 49 58 am" src="https://user-images.githubusercontent.com/23268239/46551386-7c3ab900-c88c-11e8-9a31-e75a1ac12531.png">

[2018-10-05 17:54] helfi92 commented on #121
OK good:

`Opening URL: https://tools.taskcluster.net/auth/clients/new?name=cli&description=Temporary+client+for+use+on+the+command+line&scope=%2A&expires=1d&callback_url=http%3A%2F%2Flocalhost%3A63410` should have opened a new browser tab/window. Do you see that?

[2018-10-05 17:56] mike44441 commented on #121
Yeah, I put this exact command before and was not directed to this before. I had tried several times, but now it seems to be working then and I was able to log into the site and create the cli id now.
![screen shot 2018-10-05 at 10 55 41 am](https://user-images.githubusercontent.com/23268239/46551689-40ecba00-c88d-11e8-9ace-f4c4169f5c17.png)

[2018-10-05 17:58] helfi92 commented on #121
Try refreshing your page. Does the error go away?

[2018-10-05 18:00] mike44441 commented on #121
![screen shot 2018-10-05 at 10 59 59 am](https://user-images.githubusercontent.com/23268239/46551893-d0926880-c88d-11e8-8651-e5846edcf059.png)

[2018-10-05 18:03] helfi92 commented on #121
Could you try restarting the `taskcluster-web-server` process.

[2018-10-05 18:04] mike44441 commented on #121
I still get the same errors

[2018-10-05 18:13] helfi92 commented on #121
If you do `git log --oneline -n 1` in the `taskcluster-web-server`, what do you see?

[2018-10-05 18:15] mike44441 commented on #121
<img width="1082" alt="screen shot 2018-10-05 at 11 15 43 am" src="https://user-images.githubusercontent.com/23268239/46552593-033d6080-c890-11e8-8f18-d6abdde12cdd.png">

[2018-10-05 18:17] helfi92 commented on #121
Interesting. You can try `rm -rf node_modules && rm -rf build && yarn && yarn start` inside `taskcluster-web-server` and see if that works.

[2018-10-05 19:19] ariellegordon commented on #128
@helfi92 Hi, can you help with the Login Credentials? I ran the CLI script but I'm not seeing any kind of export variables. Thank you.

[2018-10-05 19:28] mike44441 commented on #121
Hey so I am trying to test the snack bar, but I get this error when I try to terminate individual tasks
![screen shot 2018-10-05 at 12 27 18 pm](https://user-images.githubusercontent.com/23268239/46556006-17865b00-c89a-11e8-847e-f0afd03df1ec.png)

And when I do terminate all I get
![screen shot 2018-10-05 at 12 28 24 pm](https://user-images.githubusercontent.com/23268239/46556031-3258cf80-c89a-11e

[2018-10-05 20:10] helfi92 commented on #121
Step number one would be to be able to display a snackbar with a message. Once that's done, we can hook it up to the terminate buttons. To test the snackbar, create a dummy button that would trigger the snackbar upon clicking on the button.

[2018-10-05 20:33] ariellegordon commented on #128
Hi @helfi92 -- thank you so much for your help. I followed those instructions but I am still not able to see TASKCLUSTER_CLIENT_ID or TASKCLUSTER_ACCESS_TOKEN after I log in using the CLI. I've attached a screenshot of what I do see.

![screen shot 2018-10-05 at 4 32 38 pm](https://user-images.githubusercontent.com/35227439/46558799-5200ef80-c8bc-11e8-854b-61a268aa73de.png)

[2018-10-05 20:35] helfi92 commented on #128
@ariellegordon Once you click on "Create Client", the terminal will show `TASKCLUSTER_CLIENT_ID` or `TASKCLUSTER_ACCESS_TOKEN`.

[2018-10-05 20:38] ariellegordon commented on #128
@helfi92 Thank you so much. Do you happen to know how to find the JSON certificate?

[2018-10-05 20:40] helfi92 commented on #128
No need. You can leave it empty.

On Fri, Oct 5, 2018 at 4:38 PM Arielle <notifications@github.com> wrote:

--
Hassan

[2018-10-05 20:40] ariellegordon commented on #128
Sorry, sign in appears to be disabled if I leave it empty?
![screen shot 2018-10-05 at 4 40 27 pm](https://user-images.githubusercontent.com/35227439/46559165-6bef0200-c8bd-11e8-83fc-402169177730.png)

[2018-10-05 20:42] helfi92 commented on #128
Refresh the browser and try again.
--
Hassan

[2018-10-05 20:45] ariellegordon commented on #128
@helfi92 refreshing worked -thank you so much for your help!

[2018-10-06 19:07] ariellegordon commented on #128
@helfi92 I keep getting restricted access on AWS Provisioner screens, and refreshing the page / removing and rebuilding the node modules does not seem to change anything. Any help would be very greatly appreciated.
<img width="813" alt="screen shot 2018-10-06 at 3 05 58 pm" src="https://user-images.githubusercontent.com/35227439/46574920-88e90b00-c979-11e8-9721-4fd948042277.png">

[2018-10-06 19:56] helfi92 commented on #128
I just gave you the required to scopes to view worker types. Try refreshing the page and see if that works.

[2018-10-06 19:57] ariellegordon commented on #128
It works, thank you!

[2018-10-06 20:28] ariellegordon commented on #128
@helfi92 Hi! I have a working disabled button feature but I'm having trouble pushing to the branch. I am denied permission to push to taskcluster-web at origin/branch-name. Is there another way to push or make a PR?

[2018-10-06 20:34] helfi92 commented on #128
Does `git push origin <branch-name>` not work? A screenshot of what you've been trying to do would be helpful.

[2018-10-06 20:49] ariellegordon commented on #128
Yes, exactly. My branch name is "working". Screenshot attached. Thank you.
![Uploading Screen Shot 2018-10-06 at 4.48.50  #PM.png…]()

[2018-10-06 21:02] helfi92 commented on #128
You're trying to push to the wrong remote. You'll have to create a fork of `taskcluster-web` and then push to that fork.

Click the fork button to create a clone of that repo under your account:

<img width="1022" alt="screen shot 2018-10-06 at 4 58 17 pm" src="https://user-images.githubusercontent.com/3766511/46575736-0d8f5580-c989-11e8-9a2c-1e4cd007931a.png">

Once that's done, I think you can d

[2018-10-08 00:48] mike44441 commented on #121
I have been trying to generate a Snackbar when handling the terminate instance. But, I still can't get it to work and I think I will need permissions again to be able to see AWS Provisioner. I have coding, but I am unsure where I should try to insert the snackbar feature. Should I be trying to to this in
.../GitHub/taskcluster-web/src/views/AwsProvisioner/ViewWorkerType or
.../GitHub/taskcluster-w

[2018-10-09 11:50] helfi92 commented on #121
I think it makes sense to put it under `.../GitHub/taskcluster-web/src/views/AwsProvisioner/ViewWorkerType/index.jsx`. Regarding permissions, you'll have to show me what kind of error you're getting so I could provide you with the relevant scopes (permissions).

[2018-10-09 17:22] #56 closed

[2018-10-09 20:57] helfi92 opened #154 "Migrate taskcluster-web to neutrino v9"
[Migration guide](https://master.neutrinojs.org/migration-guide/#neutrino-v8-to-v9).

[2018-10-10 22:45] helfi92 commented on #124
Fixed in https://github.com/taskcluster/taskcluster-web/pull/156.

[2018-10-10 22:45] #124 closed

[2018-10-11 11:54] helfi92 commented on #128
Fixed in https://github.com/taskcluster/taskcluster-web/commit/50e51971f2f82c3f7188e57778bf602f6b6fb918.

[2018-10-11 11:54] #128 closed

[2018-10-11 12:07] helfi92 opened #158 "Client view initial search content"
When logged in, navigating to the clients view should have the search bar should have its value set as the current user client ID.

![screen shot 2018-10-11 at 7 58 40 am](https://user-images.githubusercontent.com/3766511/46802655-f3100000-cd2b-11e8-99ed-6cb0623600ab.png)

For example, if the current logged in user has `mozilla-auth0/ad|Mozilla-LDAP|haali` as their client ID then the search bar sh

[2018-10-11 12:15] helfi92 opened #159 "Include the new Taskcluster Logo"
When a user hovers on "Taskcluster", let's show the new Taskcluster logo. Hovering away should bring back the "Taskcluster" text.

![screen shot 2018-10-11 at 8 13 29 am](https://user-images.githubusercontent.com/3766511/46803324-cceb5f80-cd2d-11e8-8319-1a9df29fb88f.png)

[2018-10-11 12:17] helfi92 commented on #159
@eliperelman Do you know where I can find the vector images for the logo. If I recall, the images on sketch cloud all had a white background. I'm looking for one where the background is transparent :)

[2018-10-11 15:21] projectyang commented on #158
Hi helfi92,

Can I take a crack at this issue?

[2018-10-11 15:29] helfi92 commented on #158
Go for it :)

To get access to the user object, you will probably need to import and add the `withAuth` decorator (e.g., https://github.com/taskcluster/taskcluster-web/blob/8f0b75455adfa5533f8e3e7fda3bad1ec1a491bf/src/views/Profile/index.jsx#L16). Once that's done, you will be able to access the user object via `this.props.user`. You'll be able to see the client ID there.

[2018-10-11 17:31] #67 closed

[2018-10-11 18:34] helfi92 commented on #57
Each view now has their search component embedded in the app bar. Previously (referring to the tools site), navigating between microservices would require the user to go to the homepage and then select and different microservice. Now that the navigation is fixed on the left, the user is most of the time away one click away from their view. That said, I don't think we should worry about global sear

[2018-10-11 18:34] #57 closed

[2018-10-12 15:41] eliperelman commented on #159
https://resources-live.sketch.cloud/files/dd6d237c-6d44-4b59-9859-759677da9a71.png?Expires=1539392400&Signature=T443E8OITboufbKUX7GtpmZGF4pPRwPDq9rynBi2DU5B9PAmXG6Ta4cqEm6XCkvX0ejfj8jBII3a6vlVzjtx2V2AFtlJ-yywzN1qI4Os2HW57sW~ujcya6wf5swCCn2ttVwu7sTSh1dSTYlyIXW-8UsD0UBUG1AGP0yE8JSobhc_&Key-Pair-Id=APKAJOITMW3RWOLNNPYA

[2018-10-12 15:42] helfi92 commented on #159
Thanks :)

[2018-10-12 16:31] HrushikeshBodas commented on #159
@helif92 shall i take this up?

[2018-10-12 17:09] helfi92 commented on #159
Go for it :)

[2018-10-12 18:31] ariellegordon commented on #128
@helfi92 Thank you for all of your help throughout this issue! It is so greatly appreciated.

[2018-10-12 18:33] helfi92 commented on #128
My pleasure!

[2018-10-13 23:33] helfi92 opened #161 "Fix information icon color"
Steps to reproduce:

1. Navigate to a view that has the information icon (e.g., http://localhost:5080/pulse-messages)
2. Click the light bulb icon to view the page with a light theme

Expected: The information icon has the same color as the light bulb.
Actual: The information icon is black and the light bulb is white.

<img width="1114" alt="screen shot 2018-10-13 at 7 25 20 pm" src="https://user-

[2018-10-13 23:37] helfi92 opened #162 "Fix icon size"
Navigate to a task view (e.g., http://localhost:5080/tasks/ddY5vj6fT8uEM99fma7t5g). The "Source" link icon is smaller than the other icons. Let's fix that.

<img width="524" alt="screen shot 2018-10-13 at 7 35 21 pm" src="https://user-images.githubusercontent.com/3766511/46911054-69288880-cf1f-11e8-97af-949bcd67dca1.png">

[2018-10-14 00:56] Ark20 commented on #162
I'd like to claim this issue but. I cloned this repo, installed the dependencies and ran npm start but got an error: `Cannot read property 'includes' of undefined`. Is there anything else I need to do, to run the app? @helfi92

[2018-10-14 01:48] helfi92 commented on #162
Do you have a `.env` file defined in the directory? Something like:

[code]

Also, try using `yarn` instead of `npm`:

[code]

`yarn` will install the dependencies and `yarn start` is basically `npm run start`.

Does this fix your issue? If not, make sure you have [`taskcluster-web-server`](https://github.com/taskcluster/taskcluster-web-server) running in a separate terminal. Hopefully that helps.

[2018-10-14 04:27] Ark20 commented on #162
Thank you! I got the web server to run but and created a .env file but I'm getting the same result. Should the `.env` be in the root of the directory?

[2018-10-14 06:27] BinSquare commented on #162
Yup! More detail is in the readme - environment section of this project. Good luck

[2018-10-14 10:32] Mryashbhardwaj commented on #162
Hi , can i pick this up ?

[2018-10-14 14:11] alecclarke commented on #161
@helfi92 Can I pick this one up?

[2018-10-14 15:30] helfi92 commented on #161
Definitely :)

[2018-10-14 15:31] Ark20 commented on #162
Thank You @BinSquare I'm going to take a look now!

[2018-10-14 15:50] helfi92 opened #163 "Add copy to clipboard feature"
Steps to reproduce:

1. Navigate to http://localhost:5080/tasks/Aia7BIyvRGexdGaoeqT8NA
2. Click on the "Created" row

<img width="1146" alt="screen shot 2018-10-14 at 11 48 01 am" src="https://user-images.githubusercontent.com/3766511/46919040-172b4580-cfa7-11e8-9add-864d5c2fb81c.png">

Expected: The date time is copied to the clipboard
Current: The date time not copied to the clipboard

[2018-10-14 15:51] helfi92 commented on #162
Hi @Mryashbhardwaj, this is probably because you don't have [`taskcluster-web-server`](https://github.com/taskcluster/taskcluster-web-server) running on a separate terminal. Btw, this issue is assigned to @Ark20. Let me know if you want to try tackling something else like https://github.com/taskcluster/taskcluster-web/issues/163 :)

[2018-10-14 17:07] Ark20 commented on #162
Hey @helfi92 I've gotten the server to run in another terminal and added the .env as suggested in the `.readme` but I'm getting this error.
<img width="1436" alt="screen shot 2018-10-14 at 10 04 35 am" src="https://user-images.githubusercontent.com/20876942/46919751-a4b36900-cf98-11e8-8191-d192a86cfc93.png">

[2018-10-14 18:33] Mryashbhardwaj commented on #162
Hi , can i pick this up ?

i do have the server running on a diffrent terminal,
i did not found anybody named under the assigned section . i have raised a pull request too.

[2018-10-14 18:37] Mryashbhardwaj commented on #163
the link here is specific to the tasks that you have added in you local , right ?
for me to be able to replicate , would  i have to add my own tasks ?

[2018-10-14 18:43] helfi92 commented on #163
You should be able to view this task without having to create your own task. If you're not able to view the task, let me know what kind of error you are seeing and I'll try to help.

[2018-10-14 19:44] Mryashbhardwaj commented on #163
https://github.com/taskcluster/taskcluster-web/issues/162#issuecomment-429630548

this is the error i see when i try to open that link .
Note : i am logged in using some random values when this error came .
the client taskcluster-web and taskcluster-web-server are able to comunicate as i can see

on the server terminal.

also i get  a diffrent erro when i sign out .

![2018-10-15-010915_1209x750_s

[2018-10-14 21:00] helfi92 commented on #163
Hm, try doing `git diff` to see if you changed anything by accident in `taskcluster-web-server`. In the server, the only thing that should be changed is `user-config.yml`. It should be:

[code]

[2018-10-15 00:01] helfi92 commented on #162
@Ark20 This works but if we do that we will lose the styling done by `classes.sourceHeadline`. Try this:

[code]

[2018-10-15 05:02] Mryashbhardwaj commented on #163
Yeah , that worked .
What exactly should be cppied to the clipboard . I am asuming "13 hours ago" (in the given case).

I noticed that none of the copy icons are working.

[2018-10-15 12:11] helfi92 commented on #163
The raw data will be in the form `2018-10-15T12:07:34.946Z`. We actually transform the data to say something like `13 hours ago` to make it more readable. When the user clicks the copy icon, we want to copy the raw data.

That's right. First I would open a pull-request for one copy icon. Once we agree on how it should be implemented, we could add the logic to the rest of the copy icons.

[2018-10-15 12:13] #162 closed

[2018-10-15 12:15] helfi92 commented on #159
How's it going @HrushikeshBodas? Let me know if there's anything I can do to help :)

[2018-10-15 12:17] HrushikeshBodas commented on #159
Sorry for the wait. Please assign this to someone else as I won't be able to do this.

[2018-10-15 12:18] helfi92 commented on #159
Sounds good, thank you for the update.

[2018-10-15 13:51] gurjotsingh4398 commented on #163
@helfi92 Can I work on this issue?

[2018-10-15 13:52] helfi92 commented on #163
@gurjotsingh4398 I think @Mryashbhardwaj is working on this issue. Let me know if you want to tackle https://github.com/taskcluster/taskcluster-web/issues/159.

[2018-10-15 14:36] gurjotsingh4398 commented on #163
@helfi92 Ya of course I would like to try.

[2018-10-15 14:37] helfi92 commented on #163
Awesome, let's continue our chat in #159.

[2018-10-15 14:38] helfi92 commented on #159
@gurjotsingh4398, let me know if you have questions, I'd be happy to help :)

[2018-10-15 14:39] gurjotsingh4398 commented on #159
@helfi92 Ok, Thanks

[2018-10-16 18:56] helfi92 opened #168 "Listen to pulse messages"
Now that pulse-messages [have been implemented](https://github.com/taskcluster/taskcluster-web-server/commit/db7f05b7cbae4a04853d89501f38494194bff293) in `taskcluster-web-server`, we should hook up the client side logic and display messages in the UI.

[2018-10-16 20:06] vaishnavipamulapati commented on #139
I'd like to take this issue

[2018-10-16 20:07] helfi92 commented on #139
It's yours!

[2018-10-17 12:50] helfi92 commented on #163
@Mryashbhardwaj How is it going? Feel free to use https://github.com/nkbt/react-copy-to-clipboard for copying to the clipboard.

[2018-10-17 15:22] projectyang commented on #118
Can I help with this? For clarification, the feature we want to add is a 'X' button which will allow the user to close all panels?

Also, is there a way to reproduce multiple errors in the client locally?

[2018-10-17 15:42] helfi92 commented on #118
Hey @projectyang 👋

You can definitely help.

Not really. What we want is to allow a user to close a error panel when an error happens. There are many places in the app where we use the `ErrorPanel` component. We'll probably need to include something like the following for most places where we use <ErrorPanel> (mainly views and some forms):

[code]

_Note: The [`ErrorPanel`](https://mozilla-fronte

[2018-10-17 15:49] helfi92 commented on #118
https://github.com/taskcluster/taskcluster-web/pull/157 just got merged. You will want to pull in the latest changes before you start your work :) It's a big change.

[2018-10-17 15:50] #154 closed

[2018-10-17 15:51] #168 closed

[2018-10-17 15:52] helfi92 commented on #159
How's it going @gurjotsingh4398? Let me know if you have any questions :)

[2018-10-17 17:52] helfi92 commented on #121
Now that we have [migrated to material UI v3](https://github.com/taskcluster/taskcluster-web/commit/0a187e352bf6eb97c60682ba69b4004dd5cba632#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R18), many bugs in the [`Snackbar`](https://material-ui.com/demos/snackbars/) component have been fixed.

[2018-10-18 11:19] gurjotsingh4398 commented on #159
No, it's fine. I am still trying to work it out.

[2018-10-18 11:47] Mryashbhardwaj commented on #163
@helfi92 , I have made a pull request but I see the following issue

i guess this is because  i anstaled a new package , and the yarn lock file cant be updated?
am i right ? how do i fix ?

[2018-10-18 13:18] #51 closed

[2018-10-18 13:18] #52 closed

[2018-10-18 13:21] helfi92 commented on #163
Try removing the `yarn.lock` file with `rm yarn.lock` and the regenerating it with `yarn`. Before you do however, I recommend you pull the latest changes from master.

[2018-10-18 19:39] helfi92 opened #174 "Persist dark/light theme"
Steps to reproduce:

1. Navigate to http://localhost:5080/provisioners. The theme of the site will be set to "dark"
2. Click the light bulb icon in the top app bar. The theme is now light.
3. Refresh the page

Expected: The refreshed page has a light theme
Actual: The refreshed page has a dark theme

To implement this, you can use `localStorage` to help persist data.

[2018-10-18 21:36] eliperelman commented on #174
Most everything else is using localforage or Dexie, so I would recommend continuing on that path of being backed by IndexedDB.

[2018-10-18 21:36] eliperelman commented on #174
It would probably be worthwhile in the interim to have a user preferences table in dexie.

[2018-10-19 02:33] projectyang commented on #118
Here's my current approach, would love to hear your thoughts:

The current ErrorPanel logic is something like `{error && <ErrorPanel />}`, with error coming from the component's props.

In order to have a handleErrorPanelClose, I'll need to add in a boolean variable to the state so it'll be something like `{error && errorClose && <ErrorPanel />}` which can be manipulated by the handler. The variab

[2018-10-19 11:16] vaishnavipamulapati commented on #174
I'd like to take this issue

[2018-10-19 11:50] helfi92 commented on #163
Good question. When you see `<DateDistance from={} offset={} />` you can copy whatever is inside `from`. To answer your question, copy `{task.deadline}`.

Yes, you can extend the copy functionality to all views that have that copy icon.

[code]

[2018-10-19 12:46] helfi92 commented on #118
That sounds good to me. Give it a try and let's see if it works :) Feel free to implement it on one view, and then once we're sure it's the right way to go, we can integrate it in the other views.

[2018-10-19 13:40] Mryashbhardwaj commented on #163
I have submitted a pull request [ #177](https://github.com/taskcluster/taskcluster-web/pull/177).

[2018-10-19 14:18] Mryashbhardwaj commented on #163
@helfi92 , what should i work on next. And where should i ask you such questions ?

[2018-10-19 14:35] helfi92 opened #178 "Create a customized snackbar component"
We will need to use a [customized snackbar](https://material-ui.com/demos/snackbars/#customized-snackbars) component to give feedback to users. Let's create a component in `src/component/Snackbar` capable of doing that.

The props of the component:

* `variant`: One of `error`, `warning`, `info`, and `success`. The variant will affect the background color of the Snackbar as well as add an icon fro

[2018-10-19 14:37] helfi92 commented on #126
@Mryashbhardwaj How do you feel about https://github.com/taskcluster/taskcluster-web/issues/178. I think this issue might be confusing to tackle.

[2018-10-19 14:38] helfi92 commented on #178
@Mryashbhardwaj Do you want to work on this issue? :)

[2018-10-19 14:43] Mryashbhardwaj commented on #178
Yeah, Sure :)

[2018-10-19 14:46] helfi92 commented on #178
Awesome, feel free to ask questions or let me know if I've been unclear in the issue description.

[2018-10-19 14:50] Mryashbhardwaj commented on #126
@helfi92 , sure.

[2018-10-19 15:20] Mryashbhardwaj commented on #178
@helfi92 , i dont have good understanding of how react works. Is it fine if i first get some clarity on React and then get on with this. What do you suggest ?

[2018-10-19 15:33] helfi92 commented on #178
Definitely. Just to give you an idea of how it will end up:

[code]

[2018-10-19 15:36] #53 closed

[2018-10-19 15:39] #163 closed

[2018-10-19 15:39] helfi92 commented on #174
Go for it @vaishnavipamulapati.

[2018-10-19 15:51] Mryashbhardwaj commented on #178
Thanks for the snippet, Just give me some time to brush up on React so that i can code with more confidence. Thanks a lot for support and guidance.  :)

[2018-10-19 18:54] helfi92 opened #179 "Remove `staticContext` error from console"
Navigate to http://localhost:5080/provisioners. Open devtools to look at the console. There is an error in the console about `staticContext`:

![screen shot 2018-10-19 at 2 50 31 pm](https://user-images.githubusercontent.com/3766511/47237890-5e9e4100-d3ae-11e8-8a02-21bfd5a1777c.png)

To fix this issue, a similar fix to https://github.com/taskcluster/taskcluster-web/blob/e035521b680396907ece0468058

[2018-10-19 19:55] mash-a commented on #179
I would like to work on this issue.

[2018-10-19 19:57] helfi92 commented on #179
Awesome! Go for it.

[2018-10-20 16:36] helfi92 commented on #174
[code]

[2018-10-21 20:12] peterr101 commented on #179
Hi, I am new to open source, but would like to contribute on this issue if possible?

[2018-10-22 17:05] #174 closed

[2018-10-22 17:29] helfi92 commented on #179
Hi @peterr101, I believe @mash-a is working on that issue. How is it going @mash-a?

[2018-10-22 17:55] helfi92 commented on #126
Not an issue anymore.

[2018-10-22 17:55] #126 closed

[2018-10-22 20:28] mash-a commented on #179
@helfi92 I figured out where the issue is coming from, I was just having some issues with eslint.

[2018-10-22 20:32] helfi92 commented on #179
Can I help :) ? You can try `yarn lint --fix` to fix issues.

[2018-10-22 22:11] helfi92 commented on #179
Ah, we should probably display a better error. Create a `.env` file in the root directory and define `TASKCLUSTER_ROOT_URL`. See the [README section](https://github.com/taskcluster/taskcluster-web#environment). Let me know if that fixes it.

[2018-10-22 22:44] mash-a commented on #179
Yup that fixed it! Thank you :)

[2018-10-23 01:48] #179 closed

[2018-10-23 01:53] helfi92 commented on #159
@gurjotsingh4398 When do you think you will be able to send a pull request for this issue? Let me know if I can help somehow :)

[2018-10-23 02:53] gurjotsingh4398 commented on #159
Sorry, I tried but I am unable to do this.You can assign this to someone else.

[2018-10-23 12:58] helfi92 commented on #118
@projectyang How is it going? Is there anything I can do to help :)

[2018-10-23 14:01] projectyang commented on #118
@helfi92 Hey, I've been out sick for the past few days. Back now and should be able to get an initial pull soon.

[2018-10-23 14:06] helfi92 commented on #118
Sorry to hear that. Sounds good. Thank you for the fantastic work you've been doing so far :)

[2018-10-23 14:48] #178 closed

[2018-10-23 16:04] helfi92 opened #193 "Fix dialog error"
Steps to reproduce:

1. Navigate to http://localhost:5080/. If you were previously logged in, log out.
2. Open dev-tools
3. Click on "Sign In"
4. Click on "Sign in with credentials"
5. Click anywhere outside the dialog

Actual:
<img width="1677" alt="screen shot 2018-10-23 at 12 03 28 pm" src="https://user-images.githubusercontent.com/3766511/47374324-b1803d00-d6bb-11e8-8dc5-75bdaf2a967d.png">

Ex

[2018-10-23 17:45] #121 closed

[2018-10-23 18:00] helfi92 opened #196 "Restructure the Landing page to include the navigation bar"
Actual: Navigating to `localhost:5080` when logged out shows:

![screen shot 2018-10-23 at 1 59 12 pm](https://user-images.githubusercontent.com/3766511/47380622-ded4e700-d6cb-11e8-86b4-33c5b94a7854.png)

Expected: It should include the navigation bar that we usually see when logged in. Something like:

![screen shot 2018-10-23 at 1 57 50 pm](https://user-images.githubusercontent.com/3766511/47380

[2018-10-23 18:15] djmitche opened #197 "Task inspector generates invalid URLs for task definitions"
It just sent me to `queue.http://localhost:3050/queue/v1/task/OSAG5pgDR9-ooA1NtWAdUQ`

[2018-10-23 18:15] djmitche commented on #197
STR: open https://taskcluster-web.netlify.com/tasks/OSAG5pgDR9-ooA1NtWAdUQ, click "view task definition".

[2018-10-23 18:27] djmitche opened #199 "Username should be smaller"
![screenshot_2018-10-23 taskcluster](https://user-images.githubusercontent.com/28673/47382190-b353fb80-d6cf-11e8-9c27-9d3d219ac406.png)

That's a lot of wrapping!  When we have users logging in with non-manual credentials, it will be shorter (e.g., "Dustin Mitchell") but it would be nice to display this form more succinctly.

[2018-10-23 19:56] #197 closed

[2018-10-23 20:02] djmitche opened #201 "Task creator has no "create" button"
![screenshot_2018-10-23 create task - taskcluster](https://user-images.githubusercontent.com/28673/47387021-2fecd700-d6dc-11e8-86d3-b6b82b901bbd.png)

It really does, but it's hidden in the hamburger menu way down in the lower-right, along with "reset editor" and "update timestamps".  I think "create" is really the "OK" button for this page, and shouldn't be hidden behind a click/hover[1].  "Reset

[2018-10-24 12:46] helfi92 commented on #201
I will try experimenting with having the "OK" button outside the hamburger menu. Nevertheless, we still need to keep the actions close to each other so that we stay consistent across the site.

[2018-10-24 14:11] helfi92 opened #203 "React 16.6 new features we should consider implementing"
[React 16.6](https://reactjs.org/blog/2018/10/23/react-v-16-6.html) has been released and introduces new features.

* We should now be able to remove usage of `react-loadable` from the app and use [React.lazy](https://reactjs.org/blog/2018/10/23/react-v-16-6.html#reactlazy-code-splitting-with-suspense) instead to do code-splitting.

* A new lifecycle method [`getDerivedStateFromError`](https://rea

[2018-10-24 15:29] helfi92 opened #204 "Remove `onAuthorize` and `onUnauthorize` errors from console"
Navigate to http://localhost:5080/provisioners. Open devtools to look at the console. There are some warnings in the console. Let's fix the issue.

![screen shot 2018-10-24 at 11 25 14 am](https://user-images.githubusercontent.com/3766511/47442049-9c6ce200-d77f-11e8-98da-c27208bf9cb3.png)

[2018-10-24 17:27] #139 closed, assigned to nobody

[2018-10-24 19:26] djmitche opened #208 "Task "runs" pane should include workerId, with a link to worker history"
This is an important piece of data for debugging tasks.  For example
  https://tools.taskcluster.net/groups/bb2mWib1Rbq5JBKlMX93Aw/tasks/bb2mWib1Rbq5JBKlMX93Aw/runs/0
links to
  https://tools.taskcluster.net/provisioners/aws-provisioner-v1/worker-types/github-worker/workers/us-west-1/i-02ec84a34763830d1

[2018-10-24 20:35] #208 closed

[2018-10-24 21:20] djmitche opened #210 "Path changed for scope-expander"
Compare
 * https://tools.taskcluster.net/auth/scopes/expansions
 * https://taskcluster-web.netlify.com/scopesets/expand

I think we are aiming to keep paths compatible between tools and tc-web, right?  If so, then these differ :)

[2018-10-24 21:22] djmitche opened #211 "Move scopeset operations under "Authorization""
Let's put all of the scope-related stuff in the same place:
 * Clients
 * Roles
 * Scopes (maybe "Scope Search"?)
 * Expand Scopesets
 * Compare Scopesets

[2018-10-24 21:26] djmitche opened #212 "Scope lists should be tighter"
![screenshot_2018-10-24 expand scopesets - taskcluster](https://user-images.githubusercontent.com/28673/47462587-c50dcf80-d7b1-11e8-9ef4-9a89c6fd0809.png)

There's quite a lot of blank space between those scopes -- enough that it is difficult to scan for similarities between one and the next (and such similarities are a big part of the structure of scopes!).  Removing the background highlight migh

[2018-10-24 21:30] djmitche opened #213 "Pagination on clients browser doesn't work"
STR:
* https://taskcluster-web.netlify.com/auth/clients
* search for `project/taskcluster`
  * side note: there's no spinner to say that the search is running or completed here
* see 12 clients (not even a screenful..)
* click >
* see spinner, spinner resolves, same 12 clients

[2018-10-24 21:34] djmitche opened #214 "Search is sometimes by prefix, sometimes substring"
Sometimes the search box only matches prefixes (e.g., client browser), while sometimes it matches substrings.

Or, a different bug:

The old roles editor matched "roleId containing..", while the new one seems to only search prefixes.

It seems like we should be consistent, but I'd prefer consistently searching substrings (which is sort of what users expect from search)

[2018-10-24 23:01] djmitche opened #215 "roles search reloads page, deletes search"
STR:
 * https://taskcluster-web.netlify.com/auth/roles
 * enter "project:releng:ci-group:" in the search
 * hit enter

result: page reloads, showing all (well, one page of) roles

[2018-10-24 23:02] djmitche commented on #215
Huh, roles aren't paginated, actually.. is that intentional (since clients are)?

[2018-10-24 23:03] helfi92 commented on #215
There's an [open bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1455130) to add pagination to roles.

[2018-10-24 23:04] djmitche commented on #215
Oh right :)

[2018-10-24 23:09] helfi92 commented on #178
@Mryashbhardwaj Would you be interested in tackling https://bugzilla.mozilla.org/show_bug.cgi?id=1455130? It's a backend bug :) If you are, then please comment on the bug there and we can take it from there.

[2018-10-25 12:57] #203 closed

[2018-10-25 13:59] djmitche opened #217 "Scope explorer hangs browser tab"
Opening the scope explorer on the production instance hangs the tab for a few seconds.

Maybe it should start by displaying nothing, rather than everything, and wait for the user to search?

Or maybe fixing this should wait for the scope UX overhaul, since it's not clear what it should do.

[2018-10-25 15:10] djmitche opened #219 "error regarding task that does not exist, when it does.."
Seen at https://taskcluster-web.netlify.com/tasks/5ez-I6XXQzuBSDi6FFlvoQ

(note, too, the contrast in the error message)

[2018-10-25 16:44] #212 closed

[2018-10-25 16:49] Abhiraj-Tulsyan commented on #199
I am completely new to open source and contributions. I want to take this issue and solve it

[2018-10-25 17:06] Abhiraj-Tulsyan commented on #199
Thank you sir.Do I need to clone only this repo or any other repo as well
for making it work and running locally

On Thu, 25 Oct 2018 at 22:23, Hassan Ali <notifications@github.com> wrote:

[2018-10-25 17:25] helfi92 opened #221 "Show spinner when loading client via search bar"
Steps to reproduce:

1. Navigate to http://localhost:5080/auth/clients
2. Type something in the search bar (top right of the screen) and press enter

Actual: The table refreshes after a couple of seconds without showing the Spinner component
Expected: The spinner component is displayed  while new data is being fetched

[2018-10-25 17:30] #210 closed

[2018-10-25 17:30] #211 closed

[2018-10-25 17:48] helfi92 commented on #199
The [README](https://github.com/taskcluster/taskcluster-web) should have all of the information to get you running. Yes, you'll need to have `taskcluster-web-server` running in a second terminal as explained in the README.

You should probably consider forking first then cloning your own fork.

[2018-10-25 17:50] sammysamx20 commented on #199
I am willing to do this!

[2018-10-25 17:51] helfi92 commented on #199
@sammysamx20 This issue is assigned to @Abhiraj-Tulsyan for now. Do you want to tackle https://github.com/taskcluster/taskcluster-web/issues/221 instead? I'd be happy to mentor.

[2018-10-25 17:52] sammysamx20 commented on #199
@helfi92 Sure I'll be willing to try that one!

[2018-10-25 17:53] sammysamx20 commented on #221
@helfi92 I'll take a look at this

[2018-10-25 17:54] helfi92 commented on #221
@sammysamx20 Awesome! Go for it.

[2018-10-25 18:06] sammysamx20 commented on #221
@helfi92 Should the root URL for this when I'm setting up the taskcluster-web-server be https://taskcluster.net or should it be another one for this specific project?

[2018-10-25 18:15] helfi92 commented on #221
In `taskcluster-web-server`, your `user-config.yml` should be:

[code]

[2018-10-25 18:16] sammysamx20 commented on #221
@helfi92 Yep! Okay Thats what I put thank you! Also, do you know where your spinner component in the source code?

[2018-10-25 18:17] helfi92 commented on #221
https://github.com/taskcluster/taskcluster-web/search?q=Spinner&unscoped_q=Spinner

[code]

[2018-10-25 19:05] sammysamx20 commented on #221
#224 I made a pull request. Please check it out to see if it works!

[2018-10-25 19:07] djmitche commented on #213
From the description in #222, I don't think this is fixed.  The problem isn't that I've reached the end of the results.  The problem is that the `>` button doesn't take me to the next page of results.  For a list with more results, try searching for `project/`.  You'll get back four results, none of which start with `project/taskcluster`.  Yet in the STR above there are at least 12 clients with th

[2018-10-25 19:51] #221 closed

[2018-10-25 19:54] sammysamx20 commented on #159
I can try this one too! How big would you want the logo to pop up from the hover?

[2018-10-25 19:56] helfi92 commented on #159
Not sure. Come up with an implementation and then we can take it from there :)

[2018-10-25 19:58] helfi92 commented on #159
Btw, the logo is already in the source code.

[2018-10-25 19:58] sammysamx20 commented on #159
Ah I see, can you help me locate the Sidebar component in the code really quickly?

[2018-10-25 20:10] sammysamx20 commented on #159
Nevermind I have found it!

[2018-10-25 20:52] sammysamx20 commented on #159
@helfi92 I made an implementation of it and will request a pull request soon for you to look at

[2018-10-25 22:54] Abhiraj-Tulsyan commented on #199
@helfi92 <https://github.com/helfi92>
Hello sir,
Help needed.I am very new to web development and know nothing of react and
bunch of different things included there.But I still wanna solve this
problem.
All I could trace is that the part of the html was in
src/components/dashboard/usermenu.jsx But I can't figure out the flow of
the app . Could you please guide me a little bit

On Thu, 25 Oct 2018

[2018-10-25 23:38] sammysamx20 commented on #199
Hey I had a similar issue too with working with the app don’t worry! You should be able to do some inline React js styling for that. What I would do is
Find the component/html element that holds username.
Give it a style prop like <h1 style={usernamestyle}></h1>
Then make a const usernamestyle variable in scope and set it equal to the desired text size fontSize=“12” or whatever.

[2018-10-26 03:18] sammysamx20 commented on #201
Is this still an issue you want fixed?

[2018-10-26 03:40] Saumya29 commented on #193
I would like to work on this issue.

[2018-10-26 07:32] sammysamx20 commented on #201
Would you like the OK button inside as well as outside the hamburger menu?

[2018-10-26 13:54] djmitche commented on #199
Props to Sam for helping out!

[2018-10-26 13:56] eliperelman commented on #199
@djmitche did you just say "props" in a react repo? 😂

[2018-10-26 13:58] djmitche commented on #199
Wow, you "rendered" judgment on my choice of words very quickly!

[2018-10-26 14:04] eliperelman commented on #199
The "state" of this issue is quickly devolving.

[2018-10-26 14:18] helfi92 commented on #201
No need for duplication :)

[2018-10-26 14:19] helfi92 commented on #193
@Saumya29 Go for it.

[2018-10-26 14:57] #118 closed

[2018-10-26 15:04] helfi92 opened #226 "Signing out not always working"
STR:

1. Navigate to http://localhost:5080/aws-provisioner/gecko-t-win7-32 while being logged in
2. Sign out

Expected: The user is signed out and the text has been replace with "Sign In"
Actual: The user is not signed out

It appears like when the graphql response returns no result or an error, signing out is not working.

[2018-10-26 15:34] projectyang commented on #196
I'd like to take this issue. :)

[2018-10-26 15:35] helfi92 commented on #196
Go for it :) Looking forward to seeing what you come up with!

[2018-10-26 17:50] Abhiraj-Tulsyan commented on #199
@helfi92 @djmitche
Hello sir
![image](https://user-images.githubusercontent.com/31121715/47583589-8e80b200-d975-11e8-84c0-48df5f46346d.png)

See if this is the desired solution or not

[2018-10-26 18:52] davehouse opened #228 "always allow collapsing the drawer"
Could you add an action to collapse the drawer or leave the accordion button when the screen is wide (then I can choose to collapse it)?

As a user, I would like to hide the navigation when I am looking at content. This would provide more space to view content and prevent horizontal scrolling.

Here is a screenshot showing the limited content space (half of the table is displayed, and I must scrol

[2018-10-26 19:11] helfi92 commented on #228
As a first improvement, decreasing the spacing between columns will help remove the need to scroll horizontally. For example, there seems to be a lot of white space between the "Worker Group" and "Worker ID" columns. Let's give that a try and see if that fixes it. If that is not enough, we could look into making the drawer collapsible.

[2018-10-26 20:54] #196 closed

[2018-10-26 20:57] helfi92 opened #230 "Fix landing page when viewing in light theme"
STR:

1. Navigate to http://localhost:5080/ while being logged out
2. Click the light bulb button in the top app bar

Expected: The page looks decent
Actual: My eyes are bleeding

![screen shot 2018-10-26 at 4 53 41 pm](https://user-images.githubusercontent.com/3766511/47592110-eef4fc80-d93f-11e8-862b-6b5cada49913.png)

To fix this problem, refer to https://github.com/taskcluster/taskcluster-web/b

[2018-10-27 06:14] ankur01oct commented on #199
Hi ,
I want to work on the issue

[2018-10-27 06:31] codegagan commented on #204
Trying to do setup to see this issue.

[2018-10-27 09:51] sumitjoshi97 commented on #230
I would like to look in this. Any ideas for changes?

[2018-10-27 13:42] alecclarke commented on #226
@helfi92 Could I grab this one?

[2018-10-27 14:20] HosseinMarzban commented on #226
Can I work on this issue?

[2018-10-29 01:41] helfi92 commented on #226
Fixed in https://github.com/taskcluster/taskcluster-web/commit/2c64f3f8b44c1d7113ded5b59503d4f14d0646c3.

[2018-10-29 01:41] #226 closed

[2018-10-29 01:51] helfi92 commented on #199
Fixed in https://github.com/taskcluster/taskcluster-web/commit/bf85f6a90e4d3c7ca8c1db607dd8a47492bb03bb and https://github.com/taskcluster/taskcluster-web/commit/046bc3883d6b190461a7f69617e457ca6767c0dd.

<img width="240" alt="screen shot 2018-10-28 at 9 51 11 pm" src="https://user-images.githubusercontent.com/3766511/47625451-9ff3c680-dafb-11e8-93e7-35917905d775.png">
<img width="405" alt="screen

[2018-10-29 01:51] #199 closed

[2018-10-29 11:50] #204 closed

[2018-10-29 12:50] helfi92 commented on #230
Fixed in https://github.com/taskcluster/taskcluster-web/commit/79820758f873fa9e55e1dce49d2e88bc97b36c51.

[2018-10-29 12:50] #230 closed

[2018-10-29 14:49] helfi92 commented on #213
This may be a bug in `taskcluster-auth`. Paginating with a prefix does not return results after the first fetch.

[2018-10-29 18:33] helfi92 commented on #219
@djmitche Is it possible the task had no run available? If that's the case then it has been fixed in https://github.com/taskcluster/taskcluster-web/pull/240. Any task without a run was previously throwing an error. Let me know if you can replicate the issue. The task in the issue description seem to have expired.

[2018-10-29 18:36] helfi92 commented on #193
I can't seem to replicate the issue anymore. It must have been accidentally fixed in https://github.com/taskcluster/taskcluster-web/commit/2c64f3f8b44c1d7113ded5b59503d4f14d0646c3. Thank you @Saumya29 for offering your help :)

[2018-10-29 18:36] #193 closed

[2018-10-29 18:51] djmitche commented on #219
Hm, possible.  I'll re-open if I can repro.

[2018-10-29 18:51] #219 closed

[2018-10-29 18:54] helfi92 commented on #62
Completed.

Taskcluster Web Example: https://deploy-preview-240--taskcluster-web.netlify.com/
Styleguide Example: https://deploy-preview-240--taskcluster-web-styleguide.netlify.com/

[2018-10-29 18:54] #62 closed

[2018-10-29 20:09] helfi92 commented on #214
The clients endpoint is paginated and only allows searching via a prefix.

The roles view does allow searching by substring but is currently set to "Role starts with" to stay consistent with the clients endpoint since the scopes view uses the same search component for both tabs (roles & clients).

[2018-10-29 20:10] helfi92 commented on #217
The scope inspector will stop hanging once the roles endpoint becomes paginated. There is already a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1455130) filed for this.

[2018-10-29 21:29] djmitche commented on #214
Hm, consistency does sound good.

[2018-10-29 21:29] #214 closed

[2018-10-29 21:39] djmitche commented on #213
I ran

[code]
and got
[code]
which is to say, with pagination and filtering, some of the pages are empty.  Empty pages are A-OK in the TC pagination scheme (and can be paged past with the continuationToken).

[2018-10-30 12:35] djmitche commented on #217
I was surprised that it was hanging the whole tab, rather than just showing a spinner or nothing for a while.  As in, not a slow async operation, but a slow *sync* operation.

[2018-10-30 12:49] helfi92 commented on #217
This page definitely needs some love. I will try and see what I can do to improve its performance.

[2018-10-30 20:35] helfi92 commented on #215
This has been fixed in https://github.com/taskcluster/taskcluster-web/commit/6207513fd5fb71e57b3b507b80058bff408eaa1d.

[2018-10-30 20:35] #215 closed

[2018-10-30 21:00] helfi92 opened #247 "Fix logviewer in light theme"
1. The logviewer in light theme should look exactly like the dark theme one
2. The fab buttons (top right) should have icons be white (right now they're black)

### Dark Theme

![screen shot 2018-10-30 at 4 59 41 pm](https://user-images.githubusercontent.com/3766511/47750189-3a234e00-dc65-11e8-8940-67341f387b37.png)

### Light Theme

![screen shot 2018-10-30 at 4 56 48 pm](https://user-images.gith

[2018-10-31 01:08] helfi92 opened #248 "Search bar is slow"
1. Navigate to any view with a search bar (e.g., http://localhost:5080/auth/clients)
2. Type something in the search bar

**Expected**: Typing in the search bar is smooth
**Actual**: Typing in the search bar is slow and annoying

Every time a user types something in the search bar, the whole app re-renders since the search component lives in the `Dashboard` component which is a top-level component

[2018-10-31 13:39] #248 closed

[2018-10-31 13:45] helfi92 commented on #217
@djmitche Do you mind checking if the scope explorer still hangs for you, please?

[2018-10-31 17:44] djmitche commented on #217
About 8 seconds of unresponsive UI (clicking does nothing, but curiously the spinner still spins).

But, let's not worry too much about this.  I suspect this tool will change dramatically when we do the scope UX overhaul.

[2018-10-31 19:38] robbykim commented on #247
I'll take a stab at this issue!

[2018-10-31 19:45] helfi92 commented on #247
Go for it! Let me know if you have any questions.

[2018-10-31 20:10] robbykim commented on #247
I'm having some trouble getting the web server going. `yarn` is running into some issues with a package not found in the npm registry. Is this anything known?

[2018-10-31 20:56] #213 closed

[2018-11-01 00:23] djmitche opened #252 "Task Inspector tweaks"
I like the idea of hiding things behind twirldowns (such as the payload now).  But I think the choices of what is displayed by default and what is not are a bit odd.

* Dependencies are a little expensive to fetch, and not often needed -- let's hide those by default
  * Dependencies and Requires are interrelated and should be bundled together
* TaskGroupId isn't displayed..
* Most of the details c

[2018-11-01 00:29] djmitche opened #253 "Artifact links all try to display in log viewer"
https://taskcluster-web.netlify.com/tasks/A73VbaXFRSCm5LRvKfB4Iw/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FA73VbaXFRSCm5LRvKfB4Iw%2Fruns%2F0%2Fartifacts%2Fpublic%2Fbuild%2Fsetup.exe

For the most part, I think we should be linking to artifacts in a new browser tab and letting the browser figure out how to display them.  Basically, what tools has been doing all along.

The tools

[2018-11-01 11:40] helfi92 commented on #217
@djmitche Could you try again now, please? It's about 2x faster on my machine now.

[2018-11-01 12:32] djmitche commented on #217
Yep, looks a lot better!

[2018-11-01 12:33] helfi92 commented on #217
Awesome! I will do the same performance work on the other views. Thanks again for filing this issue :)

[2018-11-01 12:33] #217 closed

[2018-11-01 13:16] djmitche opened #255 "Can't select workerId"
STR:

*  https://taskcluster-web.netlify.com/tasks/ZxDcIF_MR7uh__aDdgxCGQ/runs/0
* Click to one side of the workerId and drag to select (with or without holding a modifier key)

Expected: text selection

Actual: panel activates for drag-and-drop

[2018-11-01 13:18] djmitche opened #256 "No way to display actual timestamps"
STR:

*  https://taskcluster-web.netlify.com/tasks/ZxDcIF_MR7uh__aDdgxCGQ/runs/0
* Hover over the run "created' tim

Expected: UTC timestamp

Actual: no output

[2018-11-01 13:31] #256 closed

[2018-11-01 18:00] djmitche commented on #256
Works great now :)

[2018-11-02 12:36] #201 closed

[2018-11-02 15:45] osanche1 commented on #247
I tried to take a look at the link but it was down. Has the issue been resolved? I noticed Robby fixed a couple of icons but not the rest.

[2018-11-02 15:54] helfi92 commented on #247
@osanche1 Feel free to tackle the actual log background issue. The icons are being taken care in  https://github.com/taskcluster/taskcluster-web/pull/251.

For the logviewer, I think we just need to make sure it looks exactly like the dark theme one.

[2018-11-02 16:05] helfi92 commented on #255
@djmitche https://deploy-preview-260--taskcluster-web.netlify.com/tasks/ZxDcIF_MR7uh__aDdgxCGQ/runs/0.

[2018-11-02 16:31] djmitche commented on #255
:heart: looks great!

[2018-11-02 17:29] #255 closed

[2018-11-02 18:04] helfi92 commented on #252
Are you experiencing any slowness?

Ah, right! I'll add it.

![screen shot 2018-11-02 at 1 56 44 pm](https://user-images.githubusercontent.com/3766511/47932127-2f57fb80-dea7-11e8-9d4f-a05f828500f7.png)

Do they have to be text selectable?

The run number is shown below.

![screen shot 2018-11-02 at 1 58 39 pm](https://user-images.githubusercontent.com/3766511/47932409-f9674700-dea7-11e8-9c12-89786

[2018-11-02 22:52] helfi92 commented on #252
@djmitche Let me know how it looks now. https://taskcluster-web.netlify.com/tasks/

[2018-11-05 17:50] #247 closed

[2018-11-05 19:00] helfi92 opened #267 "Reduce page size in scopes view"
STR:

1. Navigate to http://localhost:5080/auth/scopes
2. Click on the "Clients" tab

Actual: The list shows a lot of clients (>20).
Expected: The paginated list shows at most 10 clients at a time so that users don't have to scroll down to click "Next page".

[2018-11-05 22:13] djmitche commented on #252
It's not that they're slow (although they might be), it's that it's putting a load on the queue service that is usually unnecessary.

I'd prefer that.  Day-to-day use of this tool involves a lot of copy/pasting into irc and bugs.  I don't know how often tags are often copy/pasted, but it would be annoying to find out they can't be when I need to..

I stared at that screenshot for a while, reading

[2018-11-05 22:22] djmitche commented on #252
Oops, I submitted before commenting on the running version.  It's looking a lot better!

![image](https://user-images.githubusercontent.com/28673/48030209-58ce8c80-e11e-11e8-8964-726972d2597d.png)

still shows "Requires" and "Dependencies" as separate.  Requires is really just a characterization of the dependencies, and does not deserve its own "section" of the card.

Provisioner is now behind "Mo

[2018-11-06 14:48] helfi92 commented on #252
I'll bring back the provisioner to where it was orignally. I kept the worker type displayed because it had a link to the worker-types view and I didn't want users to have to click an extra button to get to it.

I'll add `...` to make it fit in one line.

![screen shot 2018-11-06 at 9 44 18 am](https://user-images.githubusercontent.com/3766511/48071776-0f774f00-e1a9-11e8-9e2e-36df68cada5b.png)

I'l

[2018-11-06 15:14] helfi92 opened #270 "Visual indication of a task group state"
A user will want to do other things while waiting for a task group to finish. This can be solved by modifying the favicon to have a yellow, green or red circle beside the Logo to indicate the status of a task group. When the user leaves the task group view, we should bring back the original favicon.

[2018-11-06 15:16] helfi92 commented on #270
Instead of creating 3 other icons, we should create a component that renders an svg and takes a  `status` prop. We could default to the original logo when the `status` is not provided.

[2018-11-06 15:46] helfi92 opened #271 "Do not initiate subscriptions when outside the pulse messages view"
It looks like we have subscriptions trying to reconnect all the time even when outside the pulse messages view.

![screen shot 2018-11-06 at 10 45 15 am](https://user-images.githubusercontent.com/3766511/48075338-16a25b00-e1b1-11e8-8179-5b8b4737357f.png)

[2018-11-06 15:58] projectyang commented on #270
@helfi92 , I'd like to take this on. :)

[2018-11-06 16:38] helfi92 commented on #270
@projectyang Awesome! Do you have something like Sketch or Photoshop to design the svg? If not, that's okay. I can create the icon for you and you could hook it up. Let me know what works best for you.

[2018-11-06 17:56] projectyang commented on #270
@helfi92, I'm happy to do it as well.

[2018-11-06 18:20] helfi92 commented on #270
Thank you! Ok here's some more info:

1. Use https://github.com/taskcluster/taskcluster-web/blob/master/logo.png for the logo
2. Use a design tool (sketch/photoshop) to create an svg which includes the logo and a status circle similar to https://github.com/taskcluster/taskcluster-tools/blob/master/src/images/taskcluster-group-failed.png except that the Logo will be a React component.
3. Modify htt

[2018-11-06 18:55] helfi92 opened #273 "Pulse messages view has no "Start Listening" button"
This is exactly the same issue as https://github.com/taskcluster/taskcluster-web/issues/201. We just need to extract the "Start Listening" button from the menu and have it inserted on its left. The view is http://localhost:5080/pulse-messages.

[2018-11-06 19:47] #271 closed

[2018-11-07 22:52] projectyang commented on #270
@helfi92

I can't seem to figure out how to create taskgroup and be able to view it locally. I try to create a task and receive 'ext.certificate must be a JSON object' as an error message. Any tips?

[2018-11-07 23:17] helfi92 commented on #270
Try logging out and logging back in. Make sure you don't put anything in the JSON certificate field.

![screen shot 2018-11-07 at 6 17 20 pm](https://user-images.githubusercontent.com/3766511/48167349-6c622a80-e2b9-11e8-958b-12f4187c6e53.png)

[2018-11-07 23:20] helfi92 commented on #270
You can get the access token from the [Taskcluster CLI](https://github.com/taskcluster/taskcluster-web-server#taskcluster-credentials).

[2018-11-08 22:36] projectyang commented on #270
Thanks! Works now.

To clarify again, you want the favicon to dynamically display the task group status via coloured circles in the Task Group view?

![screen shot 2018-11-08 at 5 33 51 pm](https://user-images.githubusercontent.com/13473834/48231580-a5af9e80-e37c-11e8-9106-f19ba291404d.png)

[2018-11-08 22:42] helfi92 commented on #270
Yep :)

[2018-11-09 22:34] alecclarke commented on #267
@helfi92 could I grab this one?

[2018-11-09 22:51] helfi92 commented on #267
Go for it.

[2018-11-09 23:52] sammysamx20 commented on #273
Hey sorry I'll try to start on this monday!

[2018-11-10 00:17] helfi92 commented on #273
Sounds good, thanks for the heads up!

[2018-11-10 14:29] alecclarke commented on #267
@helfi92 Is there an easy way to generate 10+ clients to be displayed?

I could be missing something obvious here but I'm getting the following error when accessing  http://localhost:5080/auth/scopes :

![screen shot 2018-11-10 at 6 28 06 am](https://user-images.githubusercontent.com/8182434/48302446-e826c780-e4b1-11e8-81b3-9cfedf12e1f7.png)

[2018-11-10 14:33] helfi92 commented on #267
I wonder if taskcluster-web-server is configured properly on your machine. Try doing what’s in https://github.com/taskcluster/taskcluster-web/issues/163#issuecomment-429662157 and see if that fixes it.

[2018-11-10 14:57] alecclarke commented on #267
That did the trick! Thanks!

[2018-11-10 19:30] alecclarke commented on #267
@helfi92 I believe the root of this issue is from the call to [extractExpandedScopes(clientsConnection.edges)](https://github.com/taskcluster/taskcluster-web/blob/master/src/components/ClientScopesTable/index.jsx#L90). While the number of edges (clients) is indeed 10 - the aggregated expanded scopes for each of the clients has no limit (in this case ~120).

Is the intended behaviour to paginate th

[2018-11-12 21:16] helfi92 commented on #267
Ah, good catch!! I'm afraid we might introduce too many complications if we paginate expandedScopes. I guess we can keep it the way it is. Many thanks for looking into it.

[2018-11-12 21:16] #267 closed

[2018-11-12 21:17] helfi92 commented on #270
How is it going @projectyang? Let me know if you have questions.

[2018-11-12 23:35] projectyang commented on #270
@helfi92

Making progress! I do have a few questions:

1. Currently, I've only managed to manipulate the favicon link via using document.head. E.g. removing and appending new link tags. Can you provide an example of using a react component instead?

2. To confirm the logic for the favicon states:

Green will only display if all tasks have been run and are completed.
Yellow will display for when th

[2018-11-13 14:05] helfi92 commented on #270
Hm, I'm afraid we won't be able to use a react component to modify the favicon. We coud however use [`react-helmet`](https://github.com/nfl/react-helmet) to manipulate the favicon.

Yellow will display for when there are tasks currently pending/scheduled/unscheduled/running.
Red will only display if all tasks have been run and there are ones that have failed/exception.

Yes, yes, no. Red will disp

[2018-11-13 14:07] helfi92 commented on #270
Since we won't be able to manipulate the favicon using React, we can lean toward multiple icon files, similar to how it's done in https://github.com/taskcluster/taskcluster-tools/tree/master/src/images.

[2018-11-14 16:54] helfi92 opened #285 "Mobile issue (logo)"
STR:

1. Navigate to localhost:5080
2. Resize the screen until the navigation bar collapses
3. Click the hamburger icon (the three horizontal lines)
4. Hover on the text "Taskcluster"

Expected: The "T" logo should be relatively same size as the hamburger menu
Actual: The "T" logo is much bigger than the hamburger menu

<img width="588" alt="screen shot 2018-11-14 at 11 51 12 am" src="https://user

[2018-11-15 22:34] helfi92 opened #286 "Logviewer extra line"
Bump the version of react-lazylog once https://github.com/mozilla-frontend-infra/react-lazylog/pull/25 is merged to accomadate linux users.

[2018-11-16 05:20] OjaswinM commented on #285
Hi, this is my first time contributing. Can I give this a try?

[2018-11-16 11:43] helfi92 commented on #285
Go for it :)

[2018-11-19 17:30] #285 closed

[2018-11-20 14:52] helfi92 commented on #286
https://github.com/mozilla-frontend-infra/react-lazylog/issues/27

[2018-11-20 15:51] helfi92 commented on #270
@projectyang It seems to work locally but doesn't seem to load properly in production: https://taskcluster-web.netlify.com/tasks/groups.

[2018-11-20 18:30] projectyang commented on #270
@helfi92

I think this has do with webpack and how it imports local images. Can we try if this works to fix? Should I create a new issue/branch for this?

[code]

[2018-11-20 18:43] helfi92 opened #289 "Generate a separate entry for docs"
Now that Firefox CI is moving off taskcluster.net, we'll want to have a way to host docs, as well as the marketing page separate from the main app.

[2018-11-20 18:51] helfi92 commented on #270
You're right. Given that we only have 4 small images, we can just import them at the top of the file.

[code]

I think we do something similar in taskcluster/taskcluster-tools.

[2018-11-20 18:58] #286 closed

[2018-11-22 00:04] helfi92 opened #294 "Landing page scrolling issue"
Steps to reproduce:

1. Navigate to https://taskcluster-web.netlify.com/ or localhost:5080/ while being logged out
2. Scroll the main content horizontally

Expected: The content doesn't scroll
Actual: The content scrolls in the horizontally

[2018-11-22 00:09] helfi92 opened #295 "Artifact not found"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/create
2. Click "Create Task"

Expected: The task view shows no warning/errors.
Actual: The task view shows a warning

<img width="1680" alt="screen shot 2018-11-21 at 7 09 28 pm" src="https://user-images.githubusercontent.com/3766511/48874385-00a3b580-edc1-11e8-8b3d-5011c52512c9.png">

[2018-11-22 18:31] #270 closed

[2018-11-23 19:44] OjaswinM commented on #294
Hey, I would like to try this. Any idea what could be causing this?

[2018-11-24 05:49] OjaswinM commented on #294
Alright, I'm on it

[2018-12-07 08:35] twisted-sres commented on #273
Hey, I am a complete beginner, can I take up this issue as my first issue?

[2018-12-07 08:41] twisted-sres commented on #273
/claim

[2018-12-07 09:06] sammysamx20 commented on #273
Hey @twisted-sres feel free to take this from me! I’ve been very busy with school so you can do this one. You can also let me know and ask on this thread if you have any questions!

[2018-12-07 10:20] twisted-sres commented on #273
Thanks @sammysamx20 ,
@helfi92 could you please assign this issue to me ?
Please let me know how do I begin as I am a complete beginner

[2018-12-07 14:55] eduardoltorres commented on #294
Hey, how's it going?

I'm available if you need any help!
(got redirected here from codetribute.mozilla.org)

[2018-12-07 15:20] helfi92 commented on #294
Hey @eduardoltorres, feel free to tackle this issue.

[2018-12-07 15:31] eduardoltorres commented on #294
@helfi92 cool! I'm on it. Thanks!

Will come back with questions if any (first issue here).

[2018-12-07 16:15] helfi92 opened #299 "Improve /provisioners UX for aws-provisioner"
Allow a user to somehow transition to the aws-provisioner view when viewing aws-provisioner worker types & workers from the `/provisioners` view.

[2018-12-07 16:15] helfi92 commented on #299
/cc @petemoore.

[2018-12-08 10:02] OjaswinM commented on #294
Hey @eduardoltorres, sorry I got busy with my college submissions. I fixed the horizontal scroll on the Landing component by changing width from 100vw to 100% in the Landings component.

https://github.com/taskcluster/taskcluster-web/blob/80aef38b10173ce2b7e80aba0113272e90262ad8/src/components/Landing/index.jsx#L10-L18
However, this doesn't fix the horizontal scroll on the whole page so you can tr

[2018-12-08 13:06] eduardoltorres commented on #294
@OjaswinM alright, cool! I'll leave you to it then. If you need any help, just let me know 😀

[2018-12-08 13:13] OjaswinM commented on #294
Haha alright, I'll create a PR. Sorry for being late on this.

[2018-12-10 16:41] #294 closed

[2018-12-11 19:05] helfi92 opened #301 "Disable actions on page when an action is being triggered"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/create while being logged in
2. Create on Create Task

Expected: The fab buttons in the bottom right should be disabled while a task is being created.

Actual: The buttons are not disabled. This is bad UX because it might make the user click multiple times on the button since it takes 1 or 2 seconds for the action to be triggered.

[2018-12-11 19:15] #301 closed

[2018-12-11 19:55] helfi92 opened #304 "Allow users to be notified when the interactive status is ready"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/create/interactive and make sure you are logged in
2. Click on "+". You will be redirected to the connect page.

![screen shot 2018-12-11 at 2 54 36 pm](https://user-images.githubusercontent.com/3766511/49826337-b628af80-fd54-11e8-94d1-77519f68d4dc.png)

Expected: The connect page gives the user the option to be notified when the inter

[2018-12-11 20:08] helfi92 commented on #304
We could have a [fab button](https://material-ui.com/demos/buttons/#floating-action-buttons) in the bottom right with the bell icon from [mdi-react](https://materialdesignicons.com/). To actually hook-up the notification logic, we can use the [Notification](https://developer.mozilla.org/en-US/docs/Web/API/notification) API.

[2018-12-11 20:09] helfi92 commented on #304
Clicking on the bell icon would turn on/off notification. We could use the following icons from mdi-react:

[code]

[2018-12-11 20:11] helfi92 commented on #295
I don't seem to be able to replicate anymore. Closing for now.

[2018-12-11 20:11] #295 closed

[2018-12-11 20:15] helfi92 commented on #273
How is it going @twisted-sres? Let me know if there's anything I can help with :)

[2018-12-11 21:21] helfi92 opened #305 "Add sourcemaps in production"
I'm not sure why we don't allow source maps in production. We should probably allow them if there is no contention.

[2018-12-11 21:37] djmitche opened #306 "Can't copy link from artifacts links"
![screenshot](https://user-images.githubusercontent.com/28673/49831828-ebd49500-fd62-11e8-9b39-3e15fd65b287.png)

I'd like to copy the link to the file so that I can paste it, without first downloading it, but there's no "copy link location" in the context menu.

Related to #253.

[2018-12-11 21:38] djmitche commented on #306
(same occurs if I right-click the link icon on the right of the row)

[2018-12-12 01:35] helfi92 commented on #306
Fair enough. We should add a copy icon similar to how it's done on some other list items:

<img width="685" alt="screen shot 2018-12-11 at 8 34 03 pm" src="https://user-images.githubusercontent.com/3766511/49841102-403c3c80-fd84-11e8-97fa-19cc9bec0539.png">

[2018-12-12 01:38] helfi92 commented on #306
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/b4UAjb67QiGP0DMjh3Qpaw or `localhost:5080/tasks/b4UAjb67QiGP0DMjh3Qpaw`
2. Click the Artifacts dropdown list item

<img width="768" alt="screen shot 2018-12-11 at 8 36 51 pm" src="https://user-images.githubusercontent.com/3766511/49841205-b50f7680-fd84-11e8-97fd-7ac075bfff6e.png">

Expected: There is a copy icon allowing a user to copy

[2018-12-12 02:10] helfi92 opened #307 "Add pagination to the list of roles"
If you're looking for both a backend and a frontend change, this task would be ideal for you. Right now if you navigate to https://taskcluster-web.netlify.com/auth/roles, you will notice the full list of roles is displayed. We want to paginate this list so that we can render it similar to the [clients view](https://taskcluster-web.netlify.com/auth/clients). In order to do that, we'll first need to

[2018-12-12 12:47] helfi92 commented on #307
👋 @OjaswinM, definitely! For the backend part of this issue, do you mind commenting on https://bugzilla.mozilla.org/show_bug.cgi?id=1455130 to have the bug assigned to you?

[2018-12-12 13:03] nvamsikrishna05 commented on #306
I would like to work on this issue

[2018-12-12 13:09] helfi92 commented on #306
Awesome, go for it :) Let me know if you had questions.

[2018-12-12 13:32] nvamsikrishna05 commented on #306
After I cloned and ran npm install I am getting the following error.
![error](https://user-images.githubusercontent.com/12725742/49872899-7ccd6e00-fe40-11e8-813d-103942655c62.PNG)

Need help on this.

[2018-12-12 13:46] helfi92 commented on #306
You'll want to use `yarn` instead of `npm` to install the dependencies. When you run `yarn install`, it will look at `yarn.lock` to figure out the exact versions of the dependencies to install. `npm` uses `package-lock.json` (we don't use that in this project). I would do something like:

[code]

Let me kow how that goes.

[2018-12-12 14:00] nvamsikrishna05 commented on #306
![error3](https://user-images.githubusercontent.com/12725742/49874338-41cd3980-fe44-11e8-9df8-cbcdfd2ef8bc.PNG)
Still I have some errors after running `yarn install`

[2018-12-12 14:12] helfi92 commented on #306
Which version of node are you using?

[code]

[2018-12-12 14:44] djmitche commented on #306
It looks like you only have Python 3 installed. Why the buffertools build
process requires Python, I couldn't tell you.  But try installing Python
2.7?

[2018-12-12 15:23] nvamsikrishna05 commented on #306
node version - 10.13

[2018-12-12 15:24] nvamsikrishna05 commented on #306
yes, I have only python 3 installed. I'll try python 2

[2018-12-12 16:04] nvamsikrishna05 commented on #306
I have install python2 also and tried. Again I am getting error but the error changed compared to previous attempts.
![error](https://user-images.githubusercontent.com/12725742/49882003-a80e8800-fe55-11e8-9b4d-d70908359050.PNG)

[2018-12-12 16:09] nvamsikrishna05 commented on #306
Plus When I run `yarn run start`. I get the following errors too many of them and When I search those, they seem to be for windows if the project was mainly done in unix due to how windows and unix handle linebreaks and stuff. So, How I suppress/fix those without affecting others ?

and yes, that error while installing packages is still there to resolve.
![error2](https://user-images.githubusercon

[2018-12-12 16:16] helfi92 commented on #306
You can try adding

[code]

after line 21 https://github.com/taskcluster/taskcluster-web/blob/590acb2fb15d5feb849903e33ee643eb5fd09ac0/.neutrinorc.js#L21

[2018-12-12 16:19] helfi92 commented on #306
Did you try removing `node_modules/` and starting again?

[code]

[2018-12-12 16:21] nvamsikrishna05 commented on #306
yes, Did that.

[2018-12-12 16:22] helfi92 commented on #306
What happens when you do `yarn start`. Are you able to run the application on `localhost:5080`?

[2018-12-12 16:23] OjaswinM commented on #307
Alright, I'll get back to you if i need any help

[2018-12-12 16:30] nvamsikrishna05 commented on #306
Now, I can start the application after adding that linebreakstyle fix.

Now when I navigate to the Issue reproducing URL :
`http://localhost:5080/tasks/b4UAjb67QiGP0DMjh3Qpaw`
I get the following error.
Network error: Unexpected token E in JSON at position 0

[2018-12-12 16:35] helfi92 commented on #306
I suspect the web server is not running. https://github.com/taskcluster/taskcluster-web#web-server. Let me know if that fixes it.

[2018-12-12 17:03] nvamsikrishna05 commented on #306
Well, I cloned it and ran it. But I am now confused. So I need to run first this web-server on port 5080 and then run current UI project on which port ?

When I ran web-server on port 5080 and then try to run UI  it doesnt run.
![error3](https://user-images.githubusercontent.com/12725742/49885712-f32c9900-fe5d-11e8-8ec4-c241f77a2b19.PNG)

[2018-12-12 17:08] helfi92 commented on #306
For development, `taskcluster-web-server` process must be serving on http://localhost:3050. This is actually already specified in `config.yml` so you don't need to change that value. All you have to do in tc-web-server is include the rootUrl. https://github.com/taskcluster/taskcluster-web-server#running-taskcluster-web-server-locally.

[2018-12-12 17:13] helfi92 commented on #306
To recap:

- `tc-web` is already configured to run on port 5080. See [here](https://github.com/taskcluster/taskcluster-web/blob/590acb2fb15d5feb849903e33ee643eb5fd09ac0/.neutrinorc.js#L48). Leave as is.
- `tc-web-server` runs on port 3050. See [here](https://github.com/taskcluster/taskcluster-web-server/blob/d080307ea49b591996e69d95305670a01588b4e6/config.yml#L45). Leave as is.
- In `tc-web-server

[2018-12-12 23:21] mitchhentges opened #309 "Monitor performance regressions from tools.taskcluster.net"
As a release engineer, I frequently lean on Taskcluster tooling to quickly help me diagnose build issues - most frequently, I just need to see the logs for a build.

As we migrate to `taskcluster-web`, I'll be super appreciative if we can ensure that we don't significantly increase load times.
For example, when investigating the new build configuration of `reference-browser`, I may view a task gro

[2018-12-12 23:33] mitchhentges opened #310 "Feature: click Task Group ID to go to Task Group"
When viewing a specific task and wanting to navigate back to its associated task group, my first instinct is to click on the ID of my task group as listed under the "Task Group ID" heading. However, I quickly realize that that text isn't a link, and that I have to specifically click on the "link" button on the right.

I feel like conventions on the web usually have text act as links, and buttons a

[2018-12-13 02:55] helfi92 commented on #309
Thank you for reaching out. I can definitely replicate. It's interesting that this only happens in production but seems to be fast when running locally. I'll look into it.

[2018-12-13 04:17] helfi92 commented on #309
<img width="860" alt="screen shot 2018-12-12 at 11 15 18 pm" src="https://user-images.githubusercontent.com/3766511/49915478-dbf0aa00-fe63-11e8-8d29-482777f920a4.png">

The slowness seems to come from fetching the task actions (~30 seconds). This is weird. I'll continue looking into it tomorrow :)

[2018-12-13 17:55] eliperelman commented on #310
Having the text be a link prevents it from being easily copy-paste-able, so using the link icon on the right enables both cases.

[2018-12-13 17:58] mitchhentges commented on #310
Arguably:
* You can still select the text by starting your selection outside the text (to the left/right), then selecting the text. Once selected, you can copy like normal
* There's a "copy" button on the right already. Since both actions already exist as buttons, I feel that we're safe to make the task ID text behave as conventional-to-the-web as possible, maybe?

[2018-12-14 18:34] mitchhentges commented on #309
:+1: nice, much better! It's taking ~3s to load the new taskcluster UI now :)
I'll leave this ticket here:
* If you'd like to close it, that's :+1:
* Alternatively, it might still be a valid feature request to have monitoring/comparison of loading times between new and old taskcluster.

Up to you guys :smile:

[2018-12-14 18:40] #309 closed

[2018-12-15 20:48] helfi92 opened #316 "AWS provisioner view has no "Create Worker Type" button"
This is exactly the same issue as #201. We just need to extract the "Create Worker Type" button from the menu and have it inserted on its left. The view is http://localhost:5080/aws-provisioner.

[2018-12-15 20:49] helfi92 commented on #273
Hey @oksmelnik. I created a similar issue for a different view. Do you want to try tackling https://github.com/taskcluster/taskcluster-web/issues/316? If you are, just comment on the issue with "I'd like  to work on this issue" and then go for it.

[2018-12-15 20:51] oksmelnik commented on #316
I'd like to work on this issue

[2018-12-15 20:52] helfi92 commented on #316
Go for it. Let me know if you have any questions :)

[2018-12-15 20:53] oksmelnik commented on #316
thanks!

[2018-12-15 22:11] helfi92 opened #317 "Show the `NotFound` page when there is no route match"
Investigate why the `NotFound` view is not being displayed when a user navigates to a route that doesn't exist (e.g., https://taskcluster-web.netlify.com/123456789).

https://github.com/taskcluster/taskcluster-web/blob/590acb2fb15d5feb849903e33ee643eb5fd09ac0/src/App/routes.jsx#L101-L105

[2018-12-18 00:36] baronKilljoy commented on #317
I would like to work in this. I think its just missing the path.

[2018-12-18 00:37] baronKilljoy commented on #317
/claim

[2018-12-18 00:39] helfi92 commented on #317
Go for it :)

[2018-12-18 05:47] oksmelnik commented on #316
so, the button should look like this, right?
![11](https://user-images.githubusercontent.com/3542544/50134521-ab0fdb00-0290-11e9-8c91-55b96f7dcf79.png)

[2018-12-18 16:03] helfi92 commented on #316
Yeah. The button should be green when the user is logged in.

[2018-12-18 19:17] baronKilljoy commented on #317
Is there any documentation on the path variable here. I am wondering why you use path: '/aws-provisioner' in stead of path: '/AwsProvisioner'

[2018-12-18 21:00] helfi92 opened #318 "babel-plugin-transform-react-remove-prop-types"
We should consider adding this preset to optimize the production bundle size. Let's add the following plugin for the production environment only:

[code]

[2018-12-18 22:50] helfi92 commented on #317
The NotFound page should render whenever a path doesn't match with anything else similar to how it's done in https://reacttraining.com/react-router/web/example/no-match. In other words, the NotFound Page should show whenever a user types something like:

[code]

[2018-12-19 05:05] baronKilljoy commented on #317
It looks like there are some places the code redirects 404s to index.html.  In the dev server folder
index.js
`module.exports = (neutrino, options = {}) => {
  neutrino.config.devServer.merge({
    port: 5000,
    hot: true,
    // Redirect 404s to index.html, so that apps that use the HTML 5 History API work.
    historyApiFallback: true,
    // Only display compile duration and errors/warnings,

[2018-12-19 14:42] helfi92 opened #320 "Warn on exit"
**Problem**: https://bugzilla.mozilla.org/show_bug.cgi?id=1515233#c0

**Solution**:

One way we could do t hat is to build a utility component that takes a `message` and a `dirty` flag that alerts the user with the `message` whenever the user attempts to leave the page and the `dirty` flag is set to true. Once this is done, we can start integrating it to the views that need it:

* http://localhost

[2018-12-19 14:57] helfi92 commented on #317
index.js
module.exports = (neutrino, options = {}) => { neutrino.config.devServer.merge({ port: 5000, hot: true, // Redirect 404s to index.html, so that apps that use the HTML 5 History API work. historyApiFallback: true, // Only display compile duration and errors/warnings, to reduce noise when rebuilding. stats: { all: false, errors: true, timings: true, warnings: true }, ...options }); };

This

[2018-12-19 20:10] baronKilljoy commented on #317
Your fix worked, but cant commit because of a line style error
![errormess](https://user-images.githubusercontent.com/36493475/50245301-1dbbac00-03a0-11e9-86f0-8f4fbc939617.jpg)

[2018-12-19 20:13] helfi92 commented on #317
Ah, I believe this is a issue only on windows. Try adding [the following](https://github.com/taskcluster/taskcluster-web/issues/306#issuecomment-446646349) in `.neutrinorc.js` and committing it as well.

[2018-12-19 20:54] baronKilljoy commented on #317
pull request made, thanks for your help. Hope to work with you again.

[2018-12-19 20:57] helfi92 commented on #317
My pleasure!

[2018-12-20 18:56] helfi92 opened #324 "[ErrorPanel] Fix background color for <code>"
STR: https://taskcluster-web.netlify.com/tasks/groups/WMUwxFWUSfq7QV4uESr7JQ

This happens when an `ErrorPanel` uses the `<code>` element.

<img width="1394" alt="screen shot 2018-12-20 at 1 53 35 pm" src="https://user-images.githubusercontent.com/3766511/50304715-b57fcf80-045e-11e9-9559-8595ce26f13b.png">

[2018-12-20 19:30] arshadkazmi42 commented on #324
I would like to take this up.
Which color are planning to add in `<code>`

[2018-12-20 21:09] helfi92 commented on #324
Go for it :)

I'm not sure yet. You can also try looking at https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/styles/colorManipulator.js to see if there's anything interesting we might use from there (e.g, the `lighten` or `fade` functions). You can have access to those functions via:

[code]

I've used that a [couple of times](https://github.com/taskcluster/taskcluster-w

[2018-12-20 21:12] helfi92 commented on #307
@OjaswinM You should be ready to go now. For the graphql file, you can probably just use https://github.com/taskcluster/taskcluster-web-server/pull/71#issuecomment-449107612. We use pagination on many of our views so hopefully it will make it easier to understand. Let me know if you have questions. Can't wait to see what you come up with :)

[2018-12-20 22:35] helfi92 opened #325 "Artifacts (required credentials) breaking UI"
When credentials are required for artifacts, the UI shows an error:

<img width="1677" alt="screen shot 2018-12-20 at 5 34 17 pm" src="https://user-images.githubusercontent.com/3766511/50314617-83319a80-047d-11e9-830c-7778611f6108.png">

Example of a task: http://localhost:5080/tasks/ezbszg70QfmpvxwE_yHPaw

[2018-12-20 22:44] helfi92 commented on #325
**taskcluster-web-server**: We should probably not build signed urls for artifacts when no credentials are given.
**taskcluster-web**: The UI should not break when the list of artifacts is `null`. We should show a warning via `<ErrorPanel warning ... />` with the error message.

[2018-12-21 04:17] helfi92 commented on #320
This task is assigned to @arshadkazmi42. https://bugzilla.mozilla.org/show_bug.cgi?id=1515233.

[2018-12-21 04:18] helfi92 commented on #320
Don't hesitate to ask me questions if there's anything unclear :)

[2018-12-21 10:35] OjaswinM commented on #307
Hey actually I have my finals coming and would be busy for 2 to 3 weeks. I would let someone else pick it up from here. I would love to work on it if it's still open when I'm free again :)

[2018-12-21 13:00] helfi92 commented on #307
Sounds good, thanks for the heads up @OjaswinM. We'll see where we when you're back. Good luck with your finals :)

[2018-12-21 14:11] helfi92 commented on #325
Resolved.

[2018-12-21 14:11] #325 closed

[2018-12-21 14:12] helfi92 commented on #316
How is it going @oksmelnik? Is there anything I can help you with? :)

[2018-12-21 14:17] helfi92 opened #327 "Enhance the table"
STR:

1. Navigate to https://taskcluster-web.netlify.com/provisioners/aws-provisioner-v1/worker-types/gecko-t-linux-large

![screen shot 2018-12-21 at 9 15 22 am](https://user-images.githubusercontent.com/3766511/50346723-3b545700-0501-11e9-8279-bd2d68bf872b.png)

**Actual**: There is no way to view the full table without scrolling
**Expected**: There is a way to view the full table without scroll

[2018-12-21 17:43] arshadkazmi42 commented on #324
I started looking into this, did reproduce this issue in my local environment.
I reached to this component
https://github.com/taskcluster/taskcluster-web/blob/master/src/components/ErrorPanel/index.jsx
But I don't see this component is handling the <code>code</code> part.
Where exactly I need to be looking for this code.

[2018-12-21 17:47] helfi92 commented on #324
You can try looking at https://github.com/taskcluster/taskcluster-web/blob/master/src/App/Main.jsx. Does that help?

[2018-12-22 06:57] arshadkazmi42 commented on #324
I tried editing this part of code, but it does not changes anything

https://github.com/taskcluster/taskcluster-web/blob/master/src/App/Main.jsx#L40-L42

Is this the css for `<code>`?

[2018-12-22 07:59] arshadkazmi42 commented on #320
@helfi92 I have created a PR for Hooks create page.
This component for warn popup is working, without having dirty flag.
I have mapped `beforeunload` to trigger the warning popup.

Can you review it once.

[2018-12-24 18:39] helfi92 commented on #324
Try doing the following and see if it works:

1. Add the following in the mixins section of `theme.js`:

[code]

2. For every `ErrorPanel` that includes the `warning` prop, include the class from step 1:

[code]

[code]

Let me know how that goes.

[2018-12-24 18:47] helfi92 commented on #320
@arshadkazmi42 Did you want to add ` @withAlertOnClose` to the [other views](https://github.com/taskcluster/taskcluster-web/issues/320#issue-392632322) as well? :)

[2018-12-24 18:49] arshadkazmi42 commented on #320
Yes. I would like to work on adding this to other views. Will start working on it

[2018-12-24 20:51] helfi92 opened #331 "Remove duplicate navigation bars"
STR:

1. Navigate to http://localhost:5080/shell

<img width="1680" alt="screen shot 2018-12-24 at 3 48 50 pm" src="https://user-images.githubusercontent.com/3766511/50406467-8eddd380-0793-11e9-848c-a9db411e7013.png">

Actual: There are 2 navigation bars on the left

Expected: There is 1 navigation bar on the left

[2018-12-24 21:33] helfi92 opened #332 "Notify user when an interactive task is ready"
STR:

1. Navigate to http://localhost:5080/tasks/create/interactive. Make sure you are logged in.
2. Click the "+" icon to create a task
3. You will be navigated to a screen with the "Interactive Status" state set to "Waiting"

<img width="1680" alt="screen shot 2018-12-24 at 4 07 11 pm" src="https://user-images.githubusercontent.com/3766511/50406827-cd768c80-0799-11e9-8b10-62c57a88558f.png">

4.

[2018-12-25 04:36] arshadkazmi42 commented on #331
I can take this up.

[2018-12-25 04:37] helfi92 commented on #331
Go for it.

[2018-12-25 07:47] arshadkazmi42 commented on #324
I did above change, this is how it looks.

![screenshot from 2018-12-25 13-09-16](https://user-images.githubusercontent.com/4654382/50416568-60b9cb80-0847-11e9-95b2-610947ff1e42.png)

If this is fine, I can update it everywhere and create a PR.
Or should we change the background color also?

[2018-12-25 09:01] arshadkazmi42 commented on #331
I started looking into this.
look's like its failing only in firefox. Its working fine in chrome.

Any tips, where should I look for this issue? I tried debugging in `Shell` component and view.

[2018-12-25 12:37] helfi92 commented on #324
The text inside the <code> element looks good.

Note that we use the ErrorPanel in every view however we use the warning prop only in a handful of places. Please don’t change every ErrorPanel. Only change those that have the warning prop on them.

I’m not sure there is something bad about the background colour. Let’s keep it the way it is.

[2018-12-25 13:38] arshadkazmi42 commented on #324
Cool. I will create a PR in sometime. :+1:

[2018-12-25 14:04] helfi92 commented on #331
Indeed, this is really strange. I think the problem is in this file https://github.com/taskcluster/taskcluster-web/blob/master/src/components/Shell/index.jsx

[2018-12-25 14:54] arshadkazmi42 commented on #331
Looks like its due to this
`ref={this.registerChild} ` I am still trying to find the exact issue.

[2018-12-25 15:35] helfi92 commented on #331
I agree.

[2018-12-26 14:40] #324 closed

[2018-12-26 14:41] #320 closed

[2018-12-27 17:40] helfi92 commented on #331
I looked into it and believe there is a bug in the `hterm` library. I created https://github.com/dbkaplun/hterm-umdjs/issues/6.

[2018-12-27 17:59] arshadkazmi42 commented on #331
@helfi92 Ok. I think once that is merged, it will fix this issue also.

[2018-12-27 18:06] arshadkazmi42 commented on #307
@helfi92 I would like to work on  this.
So does this needs backend change also? Or backend change is implemented?

[2018-12-27 18:08] helfi92 commented on #307
The backend change has been implemented :) go for it

[2018-12-27 18:13] arshadkazmi42 commented on #307
Do I need to setup backend in my local for this? Or there is some backend url which I can use during development?

[2018-12-27 19:03] helfi92 commented on #307
Yes, please. [`taskcluster-web-server`](https://github.com/taskcluster/taskcluster-web-server) is what you need. I believe only the root url is needed to have the service up and running locally. See [here](https://github.com/taskcluster/taskcluster-web-server#running-taskcluster-web-server-locally) for instructions.

[2018-12-28 06:46] twisted-sres commented on #273
Hey @helfi92 , sorry, I got busy with my exams, I'll surely start working on this issue tomorrow.

[2018-12-28 10:46] rahulrj25 commented on #304
I am a beginner and would like to work on this issue.

[2018-12-28 10:46] rahulrj25 commented on #304
/claim

[2018-12-28 12:31] helfi92 commented on #304
Go for it :)

[2018-12-28 12:32] helfi92 commented on #273
No worries. Sounds good :)

[2018-12-28 13:41] rahulrj25 commented on #304
@helfi92 Can you help me understand the codebase or which file needs to be modified and how to log-in TaskCluster ?

[2018-12-28 15:03] helfi92 commented on #304
The instructions to logging in to taskcluster are outlined in the [README](https://github.com/taskcluster/taskcluster-web#web-server). Let me know if there is anything unclear. Also, this issue relates to the task interactive view. The code for this view can be found [here](https://github.com/taskcluster/taskcluster-web/blob/master/src/views/Tasks/InteractiveConnect/index.jsx). Hope that helps.

[2018-12-28 16:21] arshadkazmi42 commented on #307
I started with the setup, getting some issues.
Where can I get these `TASKCLUSTER_ROOT_URL`, `TASKCLUSTER_CLIENT_ID`, `TASKCLUSTER_ACCESS_TOKEN`

[2018-12-28 18:10] helfi92 commented on #307
https://github.com/taskcluster/taskcluster-web-server#taskcluster-credentials

[2018-12-29 03:53] djmitche opened #335 "Tasks with no decision task cause yellow error bar"
Opening a task that has no decision task -- meaning a task A such that that there is no task B with B.taskId == A.taskGroupId -- shows a yellow error bar saying that there is no task with taskId A.taskGroupId.

![screenshot_2018-12-28 taskcluster](https://user-images.githubusercontent.com/28673/50533220-4f94e700-0af3-11e9-8a19-3a6a705e1f5d.png)

This error occurs in the process of looking up the t

[2018-12-29 06:43] arshadkazmi42 commented on #307
On running `eval $(./taskcluster signin --name taskcluster-web-server)`
its stuck at
[code]
I started my `taskcluser-web` using yarn start, its giving network error at `auth/roles`

[2018-12-29 13:32] helfi92 commented on #307
Running the eval command will open a web page. The web page should be used to sign in. Once you are signed in, the command will stop hanging.

[2018-12-29 13:47] helfi92 opened #336 "Tab switching"
STR:

1. Navigate to https://taskcluster-web.netlify.com/aws-provisioner/gecko-1-b-win2012
2. Click on the "EC2 Resources" tab

Actual: It takes a couple of seconds before the tab switches

Expected: The tab switches right away and a `<Spinner loading />` is displayed inside the tab while the list is being loaded.

[2018-12-29 13:49] helfi92 commented on #336
This would probably involve adding the `<Suspense fallback={<Spinner loading />} />` component.

[2018-12-29 19:54] helfi92 commented on #307
It will be needed for:
1. https://taskcluster-web.netlify.com/auth/roles
2. https://taskcluster-web.netlify.com/auth/scopes (roles tab only)

We have two separate components for tables. `DataTable` is for displaying a table without pagination whereas `ConnectionDataTable` is for tables with pagination. For the roles table, you will want to use the `ConnectionDataTable` since we want a table with p

[2018-12-29 20:06] helfi92 commented on #336
Ah, I think the root of the problem is that we're rendering a big list of items which takes a while to render. What we probably want is to virtualize the table so that we only show a subset of the table at a time. This would improve performance.

[2018-12-30 06:32] arshadkazmi42 commented on #307
I was exploring the existing pages which are using `ConnectionDataTable`
Looks like those queries are using `edges` and `nodes` and `roles` query does not implements `edges` and `nodes`
Is there some new query implemented for this at backend?

[2018-12-30 06:37] arshadkazmi42 commented on #307
Found it here https://github.com/taskcluster/taskcluster-web-server/pull/71#issuecomment-449107612

[2018-12-30 07:31] oksmelnik commented on #332
I'd like to work on this issue

[2018-12-30 08:39] arshadkazmi42 commented on #307
@helfi92 Created a PR here
https://github.com/taskcluster/taskcluster-web/pull/337
So I have created pagination, but on clicking next list is not getting refreshed.
Can you check it once, if I have missed something

[2018-12-30 12:41] helfi92 commented on #332
Go for it.

[2018-12-30 13:09] helfi92 commented on #335
We'll probably have to add another condition in https://github.com/taskcluster/taskcluster-web-server/blob/b36c431b2c09d73eb4a5b8f66d27246108ca05cf/src/loaders/tasks.js#L56. @djmitche Do you have an example of a task ID we could use to reproduce the issue? I'm not sure how to generate a task without a decision task.

[2018-12-30 15:57] djmitche commented on #335
Anything you create in task-creator will lack a decision task :)

[2018-12-31 14:39] helfi92 opened #338 "Task Group task timings"
We should find a way to upstream https://addons.mozilla.org/en-CA/firefox/addon/taskcluster-group-stats/ into taskcluster-web.

[2018-12-31 15:21] helfi92 opened #339 "Clients view initial search placeholder text"
STR:

1. Navigate to https://taskcluster-web.netlify.com/auth/clients while being logged in. If you are not logged in, log in then refresh the page.

Actual: The search bar placeholder text is empty

![screen shot 2018-12-31 at 10 19 16 am](https://user-images.githubusercontent.com/3766511/50562840-b2e66b00-0ce5-11e9-99b7-d51b09f067ed.png)

Expected: The search bar placeholder text is set to the c

[2018-12-31 18:51] arshadkazmi42 opened #340 "Duplicate function in ViewClients"
There is duplicate `handleCreate` function defined in ViewClients view here
https://github.com/taskcluster/taskcluster-web/blob/master/src/views/Clients/ViewClients/index.jsx#L84-L86
https://github.com/taskcluster/taskcluster-web/blob/master/src/views/Clients/ViewClients/index.jsx#L123-L125

I think this is by mistake and one function should be removed.
@helfi92 Can you confirm this?

[2018-12-31 18:52] helfi92 commented on #340
oooo good catch! Indeed, this should be removed.

[2018-12-31 18:53] arshadkazmi42 commented on #340
Should I create a PR for this? Or we will keep it for `first-timers`?

[2018-12-31 18:59] helfi92 commented on #340
Your choice :) I've been really happy with all the work you've been doing :) I will label this issue as a "good-first-issue" but feel free to send a PR if you feel like it.

[2018-12-31 19:20] arshadkazmi42 commented on #340
I think let's leave it for some first-timers to get them on board :+1:

[2018-12-31 19:50] helfi92 opened #341 "[webpack] Generate multiple entries"
Right now we have a single page application. Everything is being rendered from `index.html`. What we want is to separate the documentation part from `index.html` and have it under `docs.html`. Anything in `/docs` should be read by `docs.html`.

https://master.neutrinojs.org/packages/react/#advanced-configuration

[2018-12-31 20:52] helfi92 opened #343 "Enhance the Search component"
The Search component in `src/components/Search` is not a [controlled](https://reactjs.org/docs/forms.html#controlled-components) component. We should allow the component to be controlled when a `value` prop is provided. When no `value` prop is provided, the component should stay uncontrolled.

Relates to #337, #339.

[2019-01-01 08:12] rahulrj25 commented on #304
Thanks @helfi92 . I am having trouble launching TC web on local machine. I have created .env file, can you specify next steps ?

[2019-01-01 12:39] rahulrj25 commented on #304
Is it necessary to setup server ? I haven't till now. And I have to run index.jsx to launch TC ?

[2019-01-01 12:42] helfi92 commented on #304
Yes it is necessary to have the server.

To launch taskcluster-web, from your terminal you run ‘yarn install’ to install the dependencies then ‘yarn start’.

[2019-01-01 15:14] #340 closed

[2019-01-01 16:15] #343 closed

[2019-01-01 16:20] helfi92 commented on #339
Resolved in https://github.com/taskcluster/taskcluster-web/commit/effaa51f818cd01a88cf4fa5b665dfba61da2593.

[2019-01-01 16:20] #339 closed

[2019-01-01 16:30] helfi92 opened #346 "Material Fab (round & extended) variants"
Now that material switched from using the `Button` to the `Fab` component to render fabs, the variants have changed. Let's fix those.

[2019-01-01 16:32] #346 closed

[2019-01-01 16:36] helfi92 opened #348 "[CI] object has no property pull_request"
When I merge a PR to master, I get an email saying:

[code]

[2019-01-01 16:37] helfi92 commented on #348
/cc @djmitche.

[2019-01-02 16:30] arshadkazmi42 commented on #307
Will start working on it. :+1:

[2019-01-02 16:36] helfi92 opened #349 "Search component console errors"
<img width="575" alt="screen shot 2019-01-02 at 11 36 05 am" src="https://user-images.githubusercontent.com/3766511/50601589-9c294b00-0e82-11e9-8dc3-ff0fe95142cd.png">

[2019-01-02 16:37] #349 closed

[2019-01-02 17:21] arshadkazmi42 commented on #307
@helfi92 So I was thinking, should we just use
https://github.com/taskcluster/taskcluster-web/blob/master/src/views/Roles/ViewRoles/Roles.jsx
Like its used here
https://github.com/taskcluster/taskcluster-web/blob/master/src/views/Roles/ViewRoles/index.jsx#L45

Or separate implementation inside `View/Scopes` will be better approach for this?

[2019-01-02 17:46] helfi92 commented on #307
It probably makes sense to use `ViewRoles/Roles.jsx`. Feel free to use it.

[2019-01-02 17:54] arshadkazmi42 commented on #307
I explored it a bit, RoleScope is using RolesScopesTable, which is a bit different from RolesTable.
I think using `ViewRoles/Roles.jsx` will not work.
I think I should implement it separately

[2019-01-02 17:56] helfi92 commented on #307
Sounds good.

[2019-01-02 19:00] arshadkazmi42 commented on #307
I started working on it and found that ScopeRoles requires,
`expandedScopes`, `scopes` fields to be accessed in listRolesId.
Is it not exposed?

[2019-01-02 19:10] helfi92 commented on #307
That's a good question. @djmitche Would it be okay if we add `expandedScopes` and `scopes` to the new listRoleIds endpoint? We will need that to successfully paginate the `auth/scopes` view (roles table).

[2019-01-02 19:12] helfi92 commented on #307
Good question. Let's ask dustin in https://bugzilla.mozilla.org/show_bug.cgi?id=1455130#c16.

[2019-01-02 21:36] helfi92 commented on #335
I don't seem to be able to replicate when creating a task via the [task creator](https://taskcluster-web.netlify.com/tasks/create). @djmitche Could you try again with the latest changes in tc-web-server and tc-web, please?

[2019-01-02 22:05] djmitche commented on #307
I'm not sure what the problem is?  Is GraphQL incapable of returning a list of identifiers without all of their data included?

[2019-01-02 22:32] djmitche commented on #335
Hm, I can't figure out how to use that task creator.  What do I click to actually create the task?  The (+) symbol is grayed out and doesn't do anything, even after resetting the task.

That said, I was wrong about task-creator.  By default, it sets taskGroupId = taskId.

STR:
 * Go to https://tools.taskcluster.net/tasks/create
 * Click "Reset Editor"
 * Add `taskGroupId: EOCZ6zg9S_m5d4Q_YStrXg` t

[2019-01-02 22:46] helfi92 commented on #335
Creating a task requires the user to be signed in.

[2019-01-02 22:50] djmitche commented on #335
Oh, indeed, I am signed out (dunno how that happened..)

[2019-01-03 00:37] djmitche commented on #348
a4100460295ac8312ec934fea53447b50ca97fb7 seems to have fixed it.

[2019-01-03 00:37] #348 closed

[2019-01-03 01:54] helfi92 commented on #307
We can use the `filter`parameter to filter on the list of role Ids. I'm not sure however how this relates to the issue. Are you saying we are able to get the `expandedScopes` by using a filter on the `listRolesId` query?

[2019-01-03 01:57] helfi92 opened #351 "Tooltip for button when authentication is needed"
When a button requires authentication and the user is not logged in, let's tell the user that authentication is needed via tooltip.

[2019-01-03 02:48] djmitche commented on #307
No, I'm saying if you want all of that information, you should just call the `listRoles` method that has existed since forever.

[2019-01-03 03:03] helfi92 commented on #351
This will require changes to the custom `Button` as well as the `SpeedDial` component.

[2019-01-03 06:31] oksmelnik commented on #332
well, yes - I have one question. How do I log in? I followed the instructions at Auth0 Config section here https://github.com/taskcluster/taskcluster-web
but asked to sign in anyway

[2019-01-03 13:38] helfi92 commented on #332
Ah, to login, all you have to do is:

1. Acquire Taskcluster credentials via `taskcluster-cli`. This is explained in the server repo taskcluster-web-server. See [here](https://github.com/taskcluster/taskcluster-web-server#taskcluster-credentials) for instructions. Basically you'll have to go to the [installation section](https://github.com/taskcluster/taskcluster-cli#installation) of [taskcluster-

[2019-01-03 14:33] helfi92 commented on #338
We could have a new action button (part of the action buttons in the lower right) with label "View Task Timings". Once the button is clicked, the user gets navigated to a new view (e.g., `localhost:5080/tasks/groups/task-timings`).

The view would have:
* A graph (perhaps a histogram)
* A list showing important information like the 5th, 50th and 95th percentile.
* A table incorporating each task I

[2019-01-03 15:51] helfi92 commented on #307
I spoke with @djmitche and we concluded that we need a new method in [taskcluster-auth](https://github.com/taskcluster/taskcluster-auth), namely `listRoles2`. I created https://bugzilla.mozilla.org/show_bug.cgi?id=1517494. Is this something you are interested in tackling? We would be happy to help. If you are, please comment directly on the bugzilla bug to claim it.

Regarding https://taskcluster-

[2019-01-03 16:05] helfi92 opened #352 "Support triggering tasks in response to pulse messages"
This is similar as https://github.com/taskcluster/taskcluster-tools/pull/595 but for taskcluster-web.

[2019-01-03 17:40] arshadkazmi42 commented on #307
@helfi92 Thanks for the figuring that out.
I will take up the bug for `listRoles2`.

[2019-01-03 17:50] helfi92 commented on #307
My pleasure! Thanks for your help as always.

[2019-01-03 19:11] rahulrj25 commented on #304
I am getting following error :
./src/components/Shell/index.jsx
Module not found: Error: Can't resolve 'docker-exec-websocket-server' in 'C:\Users\Rahul\Downloads\taskcluster-web\src\components\Shell'

Also while setting up server there is no file named user-config.yml, I have copied content of user-config.yml in config.yml. Let me know if this is correct.

[2019-01-03 20:13] helfi92 commented on #304
./src/components/Shell/index.jsx
Module not found: Error: Can't resolve 'docker-exec-websocket-server' in 'C:\Users\Rahul\Downloads\taskcluster-web\src\components\Shell'

Ah, that's probably because of your python version. Give the following a shot: https://github.com/taskcluster/taskcluster-web/issues/306#issuecomment-446611865

From the [README in taskcluster-web-server](https://github.com/taskc

[2019-01-03 20:19] rahulrj25 commented on #304
I did a typo, I copied content of user-config-template.yml to config.yml, there no file named user-config.yml.

[2019-01-03 20:45] #351 closed

[2019-01-03 20:50] helfi92 commented on #304
Right, there is no file named `user-config.yml` because you have to create it.

1. Create `user-config.yml`
2. Copy the content of `user-config-template.yml` into `user-config.yml`
3. Edit `user-config.yml` to have the rootUrl set to `https://taskcluster.net` instead of `...`

[2019-01-04 13:06] rahulrj25 commented on #304
Yes finally it is running and I have signed-in. In the interactive connect page when does Interactive status change ? How do we want the notification to be sent ?

[2019-01-04 14:13] helfi92 commented on #273
How is it going @twisted-sres? Let me know if I can help.

[2019-01-04 14:17] helfi92 commented on #252
Closing as resolved. Please re-open if you are not satisfied with any of the changes.

[2019-01-04 14:17] #252 closed

[2019-01-04 14:50] helfi92 opened #354 "Clients view: one scope per line"
Navigate to https://taskcluster-web.netlify.com/auth/clients/email%2Fbastien%40nextcairn.com%2Ftc-notify-test. The scopes text area expects one scope per line.

![screen shot 2019-01-04 at 9 38 54 am](https://user-images.githubusercontent.com/3766511/50693313-9491af80-1004-11e9-8b54-5b4e225d290b.png)

Problem: Some users don't know that scopes are separated by new lines so they end up separating t

[2019-01-04 14:51] helfi92 commented on #304
Great to hear!

I just realized this is a duplicate of another issue that is being worked on by someone else... Hmm, do you mind if we try to find you another issue to work on? I want to make sure there is no overlap work. Do you want to work on https://github.com/taskcluster/taskcluster-web/issues/354 instead? I would be happy to mentor. Comment on the issue directly if you're interested.

[2019-01-04 15:23] helfi92 opened #355 "ErrorPanel "X" icon"
STR:

1. Go to https://github.com/taskcluster/taskcluster-web/blob/master/src/views/Provisioners/ViewProvisioners/index.jsx
2. Add the following code:

[code]
3. Navigate to http://localhost:5080/provisioners

Actual: Hovering on the "X" icon shows a weird hover

![screen shot 2019-01-04 at 10 19 19 am](https://user-images.githubusercontent.com/3766511/50695292-42538d00-100a-11e9-8e2c-a3770043a8fa

[2019-01-04 18:45] helfi92 commented on #352
👋 @ydidwania

A couple of tips for the new UI:

* The [`HookForm`](https://github.com/taskcluster/taskcluster-web/blob/master/src/components/HookForm/index.jsx) component has the hook form.
* We use [`material-ui`](https://material-ui.com/) for our components
* We use jss-in-css for styling. See [here](https://material-ui.com/customization/css-in-js/#jss) for more information.
* taskcluster-web us

[2019-01-04 18:54] helfi92 opened #356 "Docs: "Next" and "Previous" buttons"
Let's enhance the look of our previous and next pages in the documentation.

STR:

1. Navigate to https://taskcluster-web.netlify.com/docs/manual/design/apis/hawk/roles

Actual:

![screen shot 2019-01-04 at 1 53 08 pm](https://user-images.githubusercontent.com/3766511/50705227-19da8b80-1028-11e9-83f5-5cf06e245afe.png)

Expected:

Something like:

![screen shot 2019-01-04 at 1 50 32 pm](https://use

[2019-01-05 13:40] arshadkazmi42 commented on #356
Which is this button component?
Or it needs new component built?

[2019-01-05 14:47] helfi92 commented on #356
It's currently using https://github.com/taskcluster/taskcluster-web/blob/6649f4b4cc06713d8d5c8ee0c52c7176d8fb439d/src/views/Documentation/PageMeta.jsx#L114-L134 You can probably create a `PageTransition` component in `src/components/PageTransition` that creates this UI with relevant props and import and use it from `src/views/Documentation/PageMeta`.

[2019-01-05 20:00] arshadkazmi42 commented on #356
I am almost done with this.
For icons I am using this `import ArrowLeftIcon from 'mdi-react/ArrowLeftIcon';`
Default color is white for this.
I am not able to change the color. Is there a way to change the color of this?

[2019-01-05 20:01] arshadkazmi42 commented on #356
![screenshot from 2019-01-06 01-31-02](https://user-images.githubusercontent.com/4654382/50728617-c4e76400-1152-11e9-9662-de3d8bcbd9e5.png)

This is how it looks

[2019-01-07 08:09] oksmelnik commented on #332
Thank you, was able to login! Will continue on the issue this week

[2019-01-07 15:59] #341 closed

[2019-01-08 14:15] #306 closed

[2019-01-08 20:32] twisted-sres commented on #273
Hey, how do I set up the development environment?

[2019-01-08 20:33] helfi92 commented on #273
The instructions are [here](https://github.com/taskcluster/taskcluster-web#web-server). Let me know if there is anything unclear.

[2019-01-09 03:11] helfi92 opened #358 "Show a tooltip when hovering on the copy icon"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/AK5nBLrpRZ-HP4zoXOj3bg
2. Find one of these icons (there's one beside Task Group ID)

<img width="56" alt="screen shot 2019-01-08 at 9 53 09 pm" src="https://user-images.githubusercontent.com/3766511/50873874-d1a4cb80-138f-11e9-84fd-54deb5f70ee4.png">

3. Hover on the icon

Actual: Nothing shows up
Expected: A tooltip shows up showing

[2019-01-09 05:39] ededals commented on #355
Hi, I would like to work on this issue

[2019-01-09 11:45] iamsiddhant05 commented on #358
I would like to work on this issue.

[2019-01-09 11:55] helfi92 commented on #358
Go for it :)

[2019-01-09 11:56] helfi92 commented on #355
Go for it :)

[2019-01-09 18:37] helfi92 commented on #289
Resolved in https://github.com/taskcluster/taskcluster-web/commit/4cb72666addd600064d913099e110c92c1a3a27b.

[2019-01-09 18:37] #289 closed

[2019-01-10 05:30] ededals commented on #355
Hi,

I did some research today and found that i should modify ErrorPanel of   [@mozilla-frontend-infra/components](https://github.com/mozilla-frontend-infra/components). I think that issue is that `<IconButton>` component is not wrapping its children.

One issue I have is that I do not know how to make my local changes to  [@mozilla-frontend-infra/components](https://github.com/mozilla-frontend-in

[2019-01-10 12:54] helfi92 commented on #355
Ah, I think that makes sense :)

You can test your changes directly via`@mozilla-frontend-infra/components`. All you have to do is:

1. Fork and clone https://github.com/mozilla-frontend-infra/components
2. Run `yarn` to install the dependencies
3. Run `yarn start` to start the development server on port 6060
4. Navigate to `http://localhost:6060/#errorpanel`.
5. Click on "VIEW CODE" to be able to

[2019-01-11 01:05] mitchhentges opened #360 "Show Task ID on task screen"
Use case: I need to run a CLI operation against a task. I'm viewing it (e.g. [here](https://taskcluster-web.netlify.com/tasks/e-vSE19-RQWZiaxeh2BrLQ/runs/0)), and I need to copy and paste the ID to paste into my CLI.

I can see the task group ID, but it would be great if I could see the current task's ID as well

[2019-01-11 01:13] helfi92 commented on #360
That's a valid use case :) We should add it. One way to do this is to have the search box default to the task ID when navigating to a task.

<img width="509" alt="screen shot 2019-01-10 at 8 12 52 pm" src="https://user-images.githubusercontent.com/3766511/51007086-24a78b80-1514-11e9-8a4d-05558ba9c3f5.png">

[2019-01-11 01:16] mitchhentges commented on #360
Hmm, that sounds really useful, but for users who would be seeing this behaviour for the first time, I'm not sure they'll easily realize "ah, maybe my task ID is in the search box"

[2019-01-11 02:19] helfi92 commented on #360
In that case we can add both under the Task Details tab and the search box :)

[2019-01-11 02:28] helfi92 opened #361 "Show Task ID in search box"
STR:

1. Navigate to https://taskcluster-web.netlify.com/tasks/e-vSE19-RQWZiaxeh2BrLQ/runs/0

Actual: The search box has no default value

<img width="524" alt="screen shot 2019-01-10 at 8 11 14 pm" src="https://user-images.githubusercontent.com/3766511/51009549-9553a580-151e-11e9-9ded-5c50cc5f4dd8.png">

Expected: The initial search box state should default to the current task ID

<img width="509

[2019-01-11 05:31] mitchhentges opened #362 "Middle-mouse scroll only goes sideways inconsistently"
I usually use my middle-mouse scroll ("autoscroll") to zip up and down my log really quickly.
However, sometimes, I middle-mouse click on the logs to move, and it is only moving side-to-side, which is unexpected.

You can reproduce this by going to [this log](https://taskcluster-web.netlify.com/tasks/XHTCM-VRRzCdnzjHPBZTYw/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FXHTCM-VRRzCdn

[2019-01-11 05:45] mitchhentges opened #363 "I'd like "ctrl-F" for any text in my log (including scrolled off-screen)"
This forces me to pull open the raw log to use my "find" tool.

I'm guessing that this is because we unload lines of the log when they're offscreen for performance.
FWIW, an example of where there may be a significant amount of content, but the page is still fast/CTRL-F is still functional is when managing GitHub pulls ([example](https://github.com/mozilla-releng/build-puppet/pull/360/files)).

[2019-01-11 07:21] knrt10 commented on #361
@helfi92 I would like to work on this issue.

[2019-01-11 13:45] helfi92 commented on #362
Good catch, I can definitely replicate!

[2019-01-11 14:33] helfi92 commented on #363
Searching through a log is feature we've wanted for a long time. It will be added once https://github.com/mozilla-frontend-infra/react-lazylog/pull/17 is merged.

[2019-01-11 14:36] #362 closed

[2019-01-11 16:07] helfi92 opened #365 "Hooks create view textfield issue"
STR:

1. Navigate to https://taskcluster-web.netlify.com/hooks/create
2. Try typing in the "Owner Email" text field

Actual: Typing does not work

Expected: Typing works

[2019-01-11 16:15] helfi92 opened #366 "[Hooks] Error when triggering a hook should be displayed in the modal"
STR:

1. Navigate to https://taskcluster-web.netlify.com/hooks/garbage/abc456
2. Login with a client ID `foo` and access token `bar`
3. Hover on the speed dial button then click on "Trigger Hook"

Actual: The pop-up goes away and there is two similar errors at the top of the view

Expected: The pop-up does not go away when there is an error. Also, only show the first error.

[2019-01-11 19:31] ededals commented on #355
The solution I came up with is vertically centering the children of `Paper` component and hardcoding the size of `IconButton`

Here is the git diff:

![image](https://user-images.githubusercontent.com/43218607/51054662-348fa000-15e6-11e9-933d-7f260d469c65.png)

And the result:

![image](https://user-images.githubusercontent.com/43218607/51055017-402f9680-15e7-11e9-9890-1ad9cd54019e.png)

This shou

[2019-01-11 19:34] helfi92 commented on #355
Could you open a pull-requst, please? That way I can pull the code down and test it :)

[2019-01-11 22:19] vivekRaj10 commented on #354
Hi @helfi92, I am new to open source. I would like to work on this issue. Please let me know how can I start with it?

[2019-01-12 00:16] mitchhentges opened #368 "Show in UI if artifact wasn't uploaded"
In my task payload, I define the artifacts that I'm expecting.
However, I was just debugging an issue where an artifact wasn't actually produced in one of the builds. I made the mistake of assuming that if an artifact was shown in the "Artifacts" section, it's because it was successfully created and located.
However, upon further debugging, I've realized that my artifact was not actually produced.

[2019-01-12 00:59] helfi92 commented on #368
From the client side perspective, we only get the artifact URL. We'd have to download each artifact in order to see if it's missing. That would affect performance and download too much content.

If there's anything to change, it would probably be something handled in the backend: https://github.com/taskcluster/docker-worker/blob/ef974e09acbf6d36c641af0468893e9355f951cc/src/lib/features/artifacts.j

[2019-01-12 09:12] ededals commented on #355
Created a pull request

[2019-01-12 14:45] varundey commented on #361
/claim

[2019-01-12 14:47] varundey commented on #361
I would like to work on it. Can you give me pointers on where to start from

[2019-01-13 13:47] varundey commented on #361
@helfi92 I cloned taskcluster-web-server and spun a local server. After that I tried running setting up the environment and did `npm run start` but I'm getting multiple lint errors in various files. Am I doing something wrong?

[2019-01-13 14:00] helfi92 commented on #361
I'm not sure. Could you provide a screenshot of the linting errors, please?

[2019-01-13 15:59] helfi92 commented on #355
@ededals the feature was released in `v2.1.1` of `@mozilla-frontend-infra/components`. Did you want to update the package version here?

https://github.com/taskcluster/taskcluster-web/blob/8b7ef495bf01aca4dafbf1b8de560e6b62f1dff9/package.json#L33

I think something like `yarn add @mozilla-frontend-infra/components` would work. Note how we use `yarn` instead of `npm`. This would make sure it update

[2019-01-13 22:54] vivekRaj10 commented on #354
Hi @helfi92 , I have cloned taskcluster-web-server repo & installed the dependencies using yarn. I am not able to configure `taskcluster.rootUrl` because my user-config-template.yml is empty & there is no user-config.yml file in the folder structure. Please take a look at the attached screenshots
![screenshot 2019-01-14 at 4 19 23 am](https://user-images.githubusercontent.com/9269822/51091712-43c4

[2019-01-14 04:48] ededals commented on #355
Hi,
I managed to update the package name locally, but I am having 403 error when trying to push my changes to repository using git:
![image](https://user-images.githubusercontent.com/43218607/51096649-b5a58d80-17c6-11e9-9b45-82aa215422b9.png)

Do you have any ideas why this could be so?

[2019-01-14 12:53] helfi92 commented on #354
1. Create a new file `user-config.yml`at the root directory
2. Copy the content of user-config-template.yml into user-config.yml
3. Edit user-config.yml to have the rootUrl set to `https://taskcluster.net` instead of ...

https://github.com/taskcluster/taskcluster-web-server#running-taskcluster-web-server-locally

Once this is done, you would be able to run the server via `yarn install` to instal

[2019-01-14 12:57] helfi92 commented on #355
I suspect you cloned the repository directly without forking it first. You have to first fork and then clone taskcluster-web. `origin` should be pointing to your fork (`git push origin package-update`). Give that a try and let me know how it goes.

[2019-01-14 18:00] varundey commented on #361
@helfi92 Seems like that was the issue. I tried the same steps with yarn and it is working as expected. Also I tried browsing to https://taskcluster-web.netlify.com/tasks/e-vSE19-RQWZiaxeh2BrLQ/runs/0 after launching both server and web but I am getting lots of console error. Is that expected?
![screen shot 2019-01-14 at 11 28 55 pm](https://user-images.githubusercontent.com/9202135/51130945-4d04f

[2019-01-14 18:46] mitchhentges opened #370 "Sometimes multiple lines are joined into one, making it harder to parse logs"
For example, see line `666` (:ghost:) on [this build](https://taskcluster-web.netlify.com/tasks/CQxteRTtQwmsFfVy8_UVNA/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FCQxteRTtQwmsFfVy8_UVNA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L666).

When I do the build locally (`./gradlew assembleFocusX86Nightly`), the output looks like this:

[code]

Note that the error ("Unresolved r

[2019-01-14 18:52] helfi92 commented on #361
Yes, that's expected. If you can help us reduce those warnings as well then that would be awesome :) You don't have to do it in this issue however.

[2019-01-14 18:52] mitchhentges commented on #368
True, it would be a bummer to have to download each artifact to realize if it's missing, that's probably not worth it.

I created an [RFC suggestion](https://github.com/taskcluster/taskcluster-rfcs/issues/137) - perhaps we should start considering failing builds if they don't have their artifacts :thinking:

[2019-01-14 19:41] #365 closed

[2019-01-14 19:54] #366 closed

[2019-01-14 19:56] helfi92 commented on #368
Discussion continued in [Bug 1519963](https://bugzilla.mozilla.org/show_bug.cgi?id=1519963).

[2019-01-14 19:56] #368 closed

[2019-01-14 19:57] helfi92 commented on #352
Hey @ydidwania, how is going? Let me know if you have any questions :)

[2019-01-14 19:58] helfi92 commented on #355
The library has been bumped in https://github.com/taskcluster/taskcluster-web/commit/b96b6d175cac14bfbe8cc084f41c4257a6341b53#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R33. We can safely close this issue now. Thank you so much @ededals for your contribution :)

[2019-01-14 19:58] #355 closed

[2019-01-14 19:59] helfi92 commented on #332
Hey @oksmelnik, how is it going? Do you have any questions for me? :)

[2019-01-14 20:01] ededals commented on #355
Thank you very much for your patience @helfi92 :) Do you have another issue un mind I could work on?

[2019-01-14 20:02] helfi92 commented on #355
My pleasure. Give me a second, I will create a new issue for you.

[2019-01-14 20:06] varundey commented on #360
I would like to take it up since this is very similar to #361 and requires a simple patch. @helfi92 can you let me know if it also requires tests?

[2019-01-14 20:08] helfi92 opened #371 "[Hooks] Make sure the owner field is an email"
STR:

1. Navigate to http://localhost:5080/hooks/taskcluster/azure-backup
2. Change the value under "Owner Email" from `taskcluster-notifications@mozilla.com` to `abc`

Actual: No error hint is shown to the user

Expected: An error is displayed to the user

Here's the [code](https://github.com/taskcluster/taskcluster-web/blob/b96b6d175cac14bfbe8cc084f41c4257a6341b53/src/components/HookForm/index.j

[2019-01-14 20:08] helfi92 commented on #355
Comment on https://github.com/taskcluster/taskcluster-web/issues/371 directly if you would like it to be assigned to you.

[2019-01-14 20:10] helfi92 commented on #360
@varundey Awesome! Go for it.

[2019-01-14 20:15] helfi92 commented on #273
Hey @twisted-sres, were you able to set up the development environment?

[2019-01-14 20:31] helfi92 commented on #370
Looking at the [raw output](https://taskcluster-artifacts.net/CQxteRTtQwmsFfVy8_UVNA/0/public/logs/live_backing.log), I see the same issue re: "Unresolved reference" being at the end. The machine where this log is running is probably not interpreting newlines properly.

@djmitche Is this a known issue?

[2019-01-14 20:37] ededals commented on #371
I would like to work on this issue

[2019-01-14 20:37] helfi92 commented on #371
Go for it :)

[2019-01-14 20:38] ededals commented on #355
Great! Thank you

[2019-01-14 20:41] djmitche commented on #370
Yeah, basically the task is writing output that would make a nice animation on the console, but in a "log" turns out to be one big, long line.  Most test runners have an option to disable the animations.  Sometimes you can achieve this by piping the output through `cat` (for example, `mocha foo_test,.js | cat`). This makes the test runner's stdout something that is not a tty.

[2019-01-14 20:48] varundey commented on #361
@helfi92 can I have your mozilla IRC nick? Have some doubts regarding the fix.

[2019-01-14 20:49] helfi92 commented on #361
Sure, I'm `hassan` on IRC :)

[2019-01-14 20:50] helfi92 commented on #361
I'll be disconnecting soon for the day but feel free to let me know of your doubts there and I will reply later.

[2019-01-14 21:31] vivekRaj10 commented on #354
Hi @helfi92 , My local environment is up and running. I have added the `helperText` as mentioned and it looks fine on my local. So, what's next I have to do ?

[2019-01-14 21:32] helfi92 commented on #354
The next step is to create a pull-request.

[2019-01-14 22:21] mitchhentges opened #373 "Expand hook groups when searching"
**Summary:**
Hook groups are compressed by default because there's so much content. However, when searching, it's likely that the expanded results of the search will fit on the user's screen. To improve usability, we could expand by default when searching?

**To reproduce:**
1. Go to [hooks](https://taskcluster-web.netlify.com/hooks)
2. Search for `fenix` in the top-right input
3. I need to expand

[2019-01-14 22:38] mitchhentges opened #374 "Hooks: "Last Fired Result" doesn't update until refresh"
**Summary:**
A common use-case is to fire a hook, then viewed the result. However, I need to refresh my "hook" page before the "Last Fired Result" updates.

**To reproduce:**
1. Open a hook [e.g.: `reference-browser-nightly-staging`](https://taskcluster-web.netlify.com/hooks/project-mobile/reference-browser-nightly-staging)
2. From the bottom-right menu, click "trigger hook"
* "Last Fired Result"

[2019-01-14 22:48] mitchhentges opened #375 "Hooks: Refreshing warns "unsaved changes" - even right after saving"
**Summary:**
Due to #374, I'm commonly refreshing the page. However, every time I refresh, it warns that I have unsaved changes and I have to confirm that I want to refresh the page. This is a bug since, sometimes I don't have unsigned changes, but it still bugs me :)

**To reproduce:**
1. Go to a hook (e.g.: [`reference-browser-nightly-staging`](https://taskcluster-web.netlify.com/hooks/project-m

[2019-01-14 23:03] mitchhentges opened #377 "Hooks: save button appears underneath horizontal scrollbar of task template"
For example, view [this hook](https://taskcluster-web.netlify.com/hooks/project-mobile/fenix-nightly) in Firefox.

![overlap](https://user-images.githubusercontent.com/7784737/51147011-9716b500-180d-11e9-9581-640453ddd234.jpg)

[2019-01-14 23:19] mitchhentges opened #378 "Roles: Unnecessary pagination on-search"
**Summary:**
Roles are paginated since there's so many. However, it looks like when the results are filtered due to search, the pagination isn't re-calculated. The result is that content that can all fit on one page is still paginated, and it's confusing for the user

**To reproduce:**
Find the Fenix hook's role

1. Go to [roles](https://taskcluster-web.netlify.com/auth/roles)
2. In the top-right

[2019-01-14 23:30] mitchhentges opened #379 "Roles: Improve readability of scopes"
**Summary:**
There's a little more friction to quickly reading and editing a role's scopes in `taskcluster-web`:
* I can't view all the scopes at once: I need to copy-and-paste to an IDE, or keep scrolling up-and-down
* Firefox underlines mispelled words, and most of the words in scopes aren't valid English names. This adds extra noise that I need to filter out when viewing the list of scopes

![s

[2019-01-15 00:13] #354 closed

[2019-01-15 00:15] mitchhentges commented on #370
Hmm, since it applies to all jobs running through the worker, perhaps something like putting `TERM=dumb` in the environment would be a more apt solution :thinking:

[2019-01-15 00:25] mitchhentges opened #380 "Hooks: validate required fields"
**Summary:**
If I create a hook without a "Hook Group ID", a notification pops up at the top saying "Unknown Server Error". I believe that this error is due to the Hook Group ID being missing

**To reproduce:**
1. Go to [create a new hook](https://taskcluster-web.netlify.com/hooks/create)
2. Enter an ID: "asdf"
3. Enter a name: "asdf"
4. Enter an email: "asdf@asdf.com"
5. Click the save button in

[2019-01-15 00:40] helfi92 commented on #373
That's a good idea :) This will need to be done in https://github.com/helfi92/material-ui-treeview. Thanks for bringing that up :)

[2019-01-15 00:45] helfi92 commented on #374
Many thanks for filing this issue. This needs to be fixed by re-fetching the hook instead of adding a refresh button (1 less click).

[2019-01-15 01:00] mitchhentges opened #381 "Allow opening hooks in new tab"
**Summary:**
I want to view both the staging and nightly hooks for Fenix. However, when I `ctrl-click`, it doesn't open the link in a new tab - instead, it brings my _current_ tab to the hook's page, and making me have to re-open and re-search for Fenix manually to open the other hook.

I would love to be able to
* Right click, open in new tab
* `ctrl-click` to open in new tab
on items in the hook

[2019-01-15 01:02] mitchhentges opened #382 "Hooks: going back to the hooks list resets my search"
**Summary:**
Clicking away from the hooks list removes the state the page was in, so that when I click my browser's back button, I'm looking at an unfamiliar, fresh version of the page.

**To reproduce:**
1. Go to [hooks](https://taskcluster-web.netlify.com/hooks)
2. Search for `fenix`
3. Click a hook
4. Click your browser's back button

**Preferred behaviour:**
When the browser's back button is p

[2019-01-15 01:06] helfi92 commented on #375
My job is to make sure you don't refresh the page. I believe solving https://github.com/taskcluster/taskcluster-web/issues/374 should make the experience better.

I'll remove the warning but keep it for the shell view when using interactive tasks since `CTRL + W` deletes a word in the terminal and `CMD + W` closes a window on a mac machine :)

[2019-01-15 01:11] mitchhentges commented on #375
FWIW, refreshing isn't the only situation where this popped up: sometimes I'd view a hook, not edit anything, then attempt to close the tab - in this scenario, it would bug me with an unnecessary alert. It's a little harder to avoid the "close-a-tab" use-case :wink:

Removing the warning when it's unnecessary, but at least keeping it in interactive shell view sounds :+1:

[2019-01-15 01:12] #375 closed

[2019-01-15 01:14] helfi92 commented on #377
Ew. Ok let's get this fixed :) Also, thanks for bringing that up. You're the best!

[2019-01-15 01:15] djmitche commented on #370
That would just introduce other issues.  Buildbot has dealt with the tty-or-no-tty question for a decade now.  There are no good answers :)

[2019-01-15 01:51] helfi92 commented on #378
Regarding pagination, there's not a lot we can do (we use azure tables). We are working on moving things to postgres where I believe this should be fixed. One thing I could do is increase the pagination size window from 20 to 1000. This should help get your result in one page :)

Created https://github.com/taskcluster/taskcluster-web/pull/385.

[2019-01-15 01:52] #377 closed

[2019-01-15 02:11] helfi92 commented on #378
The experience should now be better. Will consider this "resolved" for now.

[2019-01-15 02:11] #378 closed

[2019-01-15 02:19] helfi92 commented on #379
Created a PR that will fix this. Many thanks for filing this issue.

[2019-01-15 02:20] #379 closed

[2019-01-15 13:33] helfi92 commented on #380
Oh, good catch! This is a bug.

[2019-01-15 13:35] helfi92 commented on #380
I pushed a patch that would not enable the save button until all required fields have been set. This should be good enough for now. We can revisit the "highlighting" part later if the UX is bad.

[2019-01-15 13:35] #380 closed

[2019-01-15 15:33] helfi92 commented on #382
Good idea. We should use a query parameter `?search=...` which will be used to filter the list.

[2019-01-15 17:49] mitchhentges opened #388 "Sort roles list by ID"
**Summary:**
A common use-case is to search by product, then edit one or two roles (e.g.: a nightly hook's role + a staging nightly hook's role). However, right now, the roles aren't close to others of the same type: they're in a bit of a random order, which makes editing all `$product` roles of a certain type a little tougher

**To reproduce:**
1. Go to [roles](https://taskcluster-web.netlify.com

[2019-01-15 17:58] mitchhentges opened #389 "Hooks: behaviour when group (but not items) matches search isn't ideal"
**Summary:**
Searching for all hooks in a group doesn't quite work, since the search that matches the hook's name probably doesn't match the items, too

**To reproduce:**
1. Go to [hooks](https://taskcluster-web.netlify.com/hooks)
2. Search for "project-gecko"
3. Expand the "project-gecko" group
* There's no hooks in "project-gecko" :thinking:

**Preferred behaviour:**
We could show all items in a

[2019-01-15 18:01] mitchhentges opened #390 "Hooks: Disable "save" button unless some values have changed"
**Summary:**
When I go back to an old hook tab that I had open, I see that the "save" button isn't disabled, which makes me wonder: do I have unsaved changes? Did I change the hook before I left the tab some hours ago? If we disabled the hook unless there's unsaved changes, it could improve usability.

**To reproduce:**
1. Go to [a hook](https://taskcluster-web.netlify.com/hooks/project-mobile/foc

[2019-01-15 18:16] #374 closed

[2019-01-15 18:18] helfi92 commented on #388
Clicking on the header should be able to sort the list by IDs.

![screen shot 2019-01-15 at 1 17 52 pm](https://user-images.githubusercontent.com/3766511/51200629-0e108400-18c8-11e9-8ba4-42c19cff4210.png)

[2019-01-15 18:19] helfi92 commented on #388
We can probably make that the default sort. I'll send a patch.

[2019-01-15 18:32] mitchhentges opened #393 "Show task status in favicon"
**Summary:**
On the old Taskcluster UI, the favicon would have a little circle with a colour representing progress, e.g.:
* Green for success
* Yellow for in-progress
* Red for failed

This improves the use-case where I have multiple tabs with builds, but I want to be able to tell when they fail/succeed at-a-glance.

**To reproduce:**
1. Open a [task](https://taskcluster-web.netlify.com/tasks/Bs9v

[2019-01-15 18:34] helfi92 commented on #393
Good catch. We have integrate this functionality in the groups UI but must have forgotten to include it in the task view.

[2019-01-15 18:49] #388 closed

[2019-01-15 18:49] #393 closed

[2019-01-15 19:55] ydidwania commented on #352
@helfi92 I did start with it. I got stuck somewhere in trying to add `bindings` to `hook` definitions at multiple places. Let me try again

[2019-01-15 20:46] helfi92 commented on #390
I could disable the "Save Hook" button whenever the hook is unchanged but that would create a second problem:

1. User clicks on "Save Hook"
2. The button becomes disabled while the request hasn't been fulfilled yet
3. Once the hook is saved, the button will remain disabled since there are no new changes. The user is even more confused about whether the hook was saved.

Solution: Send a confirmati

[2019-01-15 20:51] helfi92 commented on #389
Agreed. We could expand the list of hook- groups when searching.

[2019-01-15 20:55] mitchhentges commented on #390
I think a confirmation would be useful, but I don't think that it's super necessary: I've seen other applications disable a save button immediately upon it being clicked. The only concern would be if I click it, it becomes disabled, and I close the tab/the backend fails but I don't realize that the save didn't complete.

Also, if you leave the button un-disabled until the request finishes, then yo

[2019-01-15 20:57] mitchhentges commented on #389
Keep in mind that this is more than just expanding the group, because right now, even if the group's name matches, its children will be filtered if they don't match. The problem I'm trying to describe is that the logic for "should this hook be shown" should change from "hook matches search" to "hook matches search OR hook group matches search" :)

[2019-01-15 21:03] #373 closed

[2019-01-15 21:14] vivekRaj10 commented on #358
Hi @helfi92 , I have analysed this defect & identified the files to be changed. Is it okay if I can work on this one ?

[2019-01-15 21:17] helfi92 commented on #358
Hi @vivekRaj10. I haven't heard back from @iamsiddhant05 for a week so sure, you can give it a try.

[2019-01-15 21:25] #360 closed

[2019-01-16 04:38] ededals commented on #371
Hi,
I also added pull request: #396

[2019-01-16 07:13] OjaswinM commented on #273
Hey @helfi92, I can take this up if it's okay?

[2019-01-16 08:19] OjaswinM commented on #382
Hey @helfi92, I can take this up if it's okay?

[2019-01-16 11:48] helfi92 commented on #382
Go for it :)

[2019-01-16 22:49] mitchhentges opened #399 "Remove redundant sign-in chooser"
**Summary:**
Right now, there's only one way to Sign in: via credentials. Since, in my workflow, I've already made it explicit that I've wanted to sign in by clicking the button, and I've only got one sign in method, I think that I should go straight to the "Sign in with credentials" form

![2019-01-16-144911_460x223_scrot](https://user-images.githubusercontent.com/7784737/51283694-e55abe00-199d-1

[2019-01-16 23:42] mitchhentges opened #400 ""dark overlay" is re-applied for every modal"
**Summary:**
A super minor issue, but note that for every open modal, the background "dark overlay" gets a little darker.
You can tell in this in the following gif (watch how the area outside the modal gets darker twice)

![out](https://user-images.githubusercontent.com/7784737/51285836-3621e500-19a5-11e9-9ffa-01961a21c966.gif)

[2019-01-17 00:16] mitchhentges opened #401 "In small logs, top-right buttons can obscure text"
**Summary:**
[Example log](https://taskcluster-web.netlify.com/tasks/Zq9m4s9qQsqFYPfVMYJkkw/runs/9/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FZq9m4s9qQsqFYPfVMYJkkw%2Fruns%2F9%2Fartifacts%2Fpublic%2Flogs%2Flive_backing.log) (what's the text after `signing_task_schema`?). In cases where the log can't scroll, the buttons in the top-right obscure text. The only workaround is to view the r

[2019-01-17 03:15] helfi92 commented on #401
@mitchhentges Agreed, this is not ideal. Any thoughts on how we can make this better?

[2019-01-17 03:17] helfi92 commented on #400
Haha, you're right. Thanks for bringing that up :)

[2019-01-17 03:20] mitchhentges commented on #401
I think there's two main options here:
1. Have these hide/show based on if the user hovers in the top-right of their screen. Downside to this is that discover-ability is lowered, and it's possible for the hide/show effect to be annoying
2. Dedicate a portion of the screen to be dedicated to buttons and don't overlap buttons with the logs. The downside to this is that there's less room for logs. I

[2019-01-17 13:50] #382 closed

[2019-01-17 14:16] helfi92 commented on #401
Most views have their actions fixed to the bottom right. We could perhaps add them there and increase the number of empty lines at the end of the log to make sure the bottom log can always be read.

[2019-01-17 17:39] mitchhentges commented on #401
That sounds phenomenal, good call :+1:

[2019-01-17 20:54] helfi92 commented on #371
Resolved in https://github.com/taskcluster/taskcluster-web/commit/24c197a294fe19a51a2a16628ba20e3c94ff9e8a.

[2019-01-17 20:54] #371 closed

[2019-01-17 20:54] ededals commented on #371
Do you have something else I could work on?

[2019-01-17 21:13] helfi92 commented on #371
Would you like to work on https://github.com/taskcluster/taskcluster-web/issues/273?

[2019-01-17 21:17] ededals commented on #273
I will work on this

[2019-01-17 21:17] helfi92 commented on #273
Go for it @ededals.

[2019-01-17 21:50] mitchhentges opened #402 "Hooks: All buttons are disabled on-save"
**Summary:**
All buttons are disabled while a save is in-progress. This means that if I want to save and trigger a hook, I can't just click-click: I have to wait for the save to complete.

(sorry for the white lines here, my compositor or something is misbehaving. /me shakes fist)
![out](https://user-images.githubusercontent.com/7784737/51351008-83ae5880-1a5e-11e9-92be-3881c83ad3b4.gif)

**To repr

[2019-01-18 15:11] helfi92 commented on #402
I think this will add complexity to the code. Has it been affecting your experience/productivity? The current flow will also make sure the user is not confused as to whether it triggered the old/updated hook.

[2019-01-18 19:18] mitchhentges commented on #402
That's true, this could add significant complexity for the payoff - this doesn't affect my productivity significantly, so it's a :man_shrugging:

True, though I would guess that this shakes out as follows:
* Cautious users wait until the save finishes, then press the button. The triggered task uses post-edit v alues, these users are content.
* Adventurous users press save immediately. When the tri

[2019-01-20 02:51] helfi92 commented on #402
Sounds good. I guess we can revisit if the save gets slower :) Thanks again for raising the issue.

[2019-01-20 02:51] #402 closed

[2019-01-20 18:08] varundey commented on #401
I would love to work on this :)

[2019-01-20 18:20] helfi92 commented on #401
Go for it.

[2019-01-20 18:35] varundey commented on #401
The way I see it, I can add `padding-bottom` to html class with value equal to button height. What do you think?

[2019-01-20 18:39] helfi92 commented on #401
The component has a property you can use to add new lines. We already add 1 line. All you have to do is increase that number.

[2019-01-20 19:02] varundey commented on #401
Okay here is the output after changing increasing the number to 3. I fear it might still overlap if the line length is more
<img width="1205" alt="screen shot 2019-01-21 at 12 29 41 am" src="https://user-images.githubusercontent.com/9202135/51443771-fe53ce00-1d13-11e9-9f65-4345fda19658.png">

[2019-01-20 19:14] helfi92 commented on #401
This looks good :) Feel free to open a pull-request.

[2019-01-20 19:39] varundey commented on #399
Wouldn't the fix for this discard #400 ? Also I would be happy to work on it

[2019-01-20 19:55] helfi92 commented on #401
Yes.

[2019-01-20 19:58] akshithashetty commented on #390
Hi, I would like to this one up.
@helfi92 could you please guide me how to go about with this one?

[2019-01-21 14:00] helfi92 commented on #399
No, it wouldn't. Taskcluster allows [multiple login strategies](https://github.com/taskcluster/taskcluster-web-server/blob/c5442223d2e6994a8bfc928afa13ae7a48ff4bc3/src/servers/createApp.js#L33-L38). For the time being we only have manual sign in however.

Awesome, go for it :)

[2019-01-21 14:04] #361 closed

[2019-01-21 15:36] #358 closed

[2019-01-21 16:32] helfi92 commented on #390
Hi @akshithashetty. Here's what is needed to do:

1. Disable the save icon button when a hook is unchanged. You can use the [`equals`](https://ramdajs.com/docs/#equals) method from the ramda package to compare both hooks object. You can import the function via `import { equals } from 'ramda'`.

2. Use the snackbar component we have in [`src/component/Snackbar`](https://github.com/taskcluster/taskc

[2019-01-21 16:57] akshithashetty commented on #390
Thanks a lot. Will start working on it and keep u posted.

[2019-01-22 19:16] ededals commented on #273
Is there anything else I could work on?

[2019-01-22 19:31] helfi92 commented on #253
@djmitche Has your issue been resolved?

[2019-01-22 19:38] helfi92 commented on #273
Give me a second, I will create an issue for you :)

[2019-01-22 19:40] helfi92 opened #409 "Worker types view modal not opening"
STR:

1. Navigate to https://taskcluster-web.netlify.com/provisioners/aws-provisioner-v1
2. Click on any info icon

![screen shot 2019-01-22 at 2 38 59 pm](https://user-images.githubusercontent.com/3766511/51560763-7aa0fb00-1e53-11e9-8ce9-07266c668ca8.png)

Expected: A drawer is opened from the right

Actual: Nothing shows up. There is an error in the console:

![screen shot 2019-01-22 at 2 39 39

[2019-01-22 19:40] helfi92 commented on #273
I created https://github.com/taskcluster/taskcluster-web/issues/409. If you're interested, please comment on the issue directly :)

[2019-01-22 19:55] ededals commented on #409
I will work on this issue.

[2019-01-22 19:56] helfi92 commented on #409
Go for it.

[2019-01-22 21:08] djmitche commented on #253
I think so!

[2019-01-22 21:08] #253 closed

[2019-01-23 19:00] mitchhentges opened #410 "Logs are empty"
~All logs are currently five empty lines~
~For example, [this log](https://taskcluster-web.netlify.com/tasks/cKhZgaC9QzSzC9MjNrG5bw/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FcKhZgaC9QzSzC9MjNrG5bw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log)~

Hmm, my build was finished, but the log was empty. It's been a couple minutes, but now it's populated.
:thinking: it's working, no

[2019-01-23 19:03] mitchhentges commented on #410
I ran into a strange delay where the three builds I just ran were all marked green, but the logs just had five lines. However, a couple minutes later, the logs are now populated.
Thinking about this further, this behaviour is probably the same as it was before, but since the logs aren't fully empty (there's five blank lines) it threw me off? Not sure, but this bug isn't valid :)

[2019-01-23 19:03] #410 closed

[2019-01-23 19:13] helfi92 commented on #410
We added 5 extra lines at the end of the log to make space for the action buttons at the bottom. There used to be 1 in the past.

[2019-01-23 19:15] mitchhentges commented on #410
Yeah, we're on the same page here. I'm not sure if I'm stumbling on an intermittent issue where logs don't load, or if I'm getting used to the 5-empty-line behaviour. This is entirely safe to disregard in the meantime, sorry for unnecessary issue spam :)

[2019-01-23 20:18] helfi92 opened #411 "Prefetch link on mouse hover"
We should write a component that wraps the `Link` component of `react-router-dom` which uses the `onMouseHover` event to prefetch the link in order to increase perceived performance.

[2019-01-24 12:51] #409 closed

[2019-01-24 13:06] ededals commented on #409
@helfi92 what could I work on next?

[2019-01-24 13:36] helfi92 commented on #409
Do you want to work on https://github.com/taskcluster/taskcluster-web/issues/332?

[2019-01-24 13:41] ededals commented on #332
Hey @helfi92 will work on this issue.

[2019-01-24 13:42] helfi92 commented on #332
Go for it.

[2019-01-25 04:04] ededals commented on #332
Hi, It seems that I have to log in to be able to create new task and the system is requesting credentials. What are the credentials to sign in?

[2019-01-25 04:05] helfi92 commented on #332
https://github.com/taskcluster/taskcluster-web/issues/332#issuecomment-451145035

[2019-01-25 04:19] ededals commented on #332
Once I run `taskcluster signin --name taskcluster-web-server ` a browser window is open at url `https://tools.taskcluster.net/auth/clients/` requesting to sign in. How can I sign in there?

[2019-01-25 04:32] helfi92 commented on #332
Use the drop-down located top right and click on "Sign in with Auth0"

<img width="313" alt="screen shot 2019-01-24 at 11 31 55 pm" src="https://user-images.githubusercontent.com/3766511/51725451-43d40c00-2030-11e9-9d69-1f0eb36cb72a.png">

[2019-01-25 05:55] ededals commented on #332
What should be the contents of the notification?
Will simple

be sufficient?

[2019-01-25 14:01] helfi92 commented on #332
Sure, I think that's good :)

[2019-01-25 14:03] helfi92 commented on #332
Btw, the taskcluster-web repo has moved to  https://github.com/taskcluster/taskcluster/tree/master/ui to be part of the taskcluster monorepo. When you are ready to send a pull-request, feel free to create it there directly since this repository will most likely be archived soon. Let me know if you have questions.

[2019-02-06 12:38] Shivansh2407 commented on #317
Is the issue still pending?

[2019-02-06 12:52] helfi92 commented on #317
Oops, I forgot to close this issue. It was fixed.

[2019-02-06 12:52] #317 closed

[2019-02-11 14:18] #332 closed

[2019-02-11 14:30] ededals commented on #332
Hi, maybe you have something else I could try to solve?

[2019-02-11 14:44] helfi92 commented on #399
How is it going @varundey? Let me know if you had questions for me.

[2019-02-11 14:46] helfi92 commented on #304
Resolved in https://github.com/taskcluster/taskcluster/commit/e3516eae173232065cb73d69636123feba08fcd1.

[2019-02-11 14:46] #304 closed

[2019-02-11 14:58] helfi92 commented on #332
Sure :) I just created https://github.com/taskcluster/taskcluster/issues/208. Please comment there directly if you're interested in tackling this issue.

[2019-02-12 07:09] varundey commented on #399
I was confused and thought this is not an active issue since this repo was archived and thus this issue was read only some time back. I will probably start working on this on this coming weekend.

[2019-02-12 16:33] helfi92 commented on #399
Sounds good, thank you for the update. Just a heads up, you will want to fork and clone https://github.com/taskcluster/taskcluster.  This repo will be archived soon. The frontend code in the monorepo can be found under the `ui` directory.

[2019-02-13 18:44] helfi92 commented on #331
Continued in https://github.com/taskcluster/taskcluster/issues/217.

[2019-02-13 18:44] #331 closed

[2019-02-13 19:10] helfi92 commented on #370
Closing for now.

[2019-02-13 19:10] #370 closed

[2019-02-22 18:47] #318 closed

[2019-02-22 18:47] #54 closed